{{#if isGM}}
<div id="crlngn-extra-btns">
    {{#if useSceneLookup}}
    <div id="crlngn-scene-lookup">
      <button class="scene-lookup-toggle"
        tooltip="{{sceneLookupTooltip}}" tooltip-direction="DOWN" tooltip-delay="500">
        <i class="fas fa-magnifying-glass"></i>
      </button>
    </div>
    {{/if}}

    {{#if useSceneBackButton}}
    <button id="crlngn-back-button"
      tooltip="{{backButtonTooltip}}" tooltip-direction="DOWN" tooltip-delay="500">
      <i class="fas fa-turn-left"></i>
    </button>
    {{/if}}
</div>
{{/if}}
