body.crlngn-ui{
  
  #camera-views {
    --av-width: 170px;
    --camera-bar-max-width: 34px; 
    --camera-bar-max-height: 0; 
    --av-frame-border-width: 1px;  
    --av-minimized-icon-size: 34px;
    min-width: 0;
    max-width: max-content;
    max-height: 100%;
    background: transparent;
    overflow: visible;
    position: fixed;
    z-index: 100;
    left: 0;
    bottom: 0;
    justify-content: flex-end;
    pointer-events:none;

    aside#players, .user-controls {
      margin-top: auto;
      width: var(--left-control-item-size);
      /*width: auto;
      flex: 0 0 auto;*/
      background: rgba(20, 20, 20, 0.85); 
      border-top: 0;
      pointer-events: all;

      .control-bar{
        width: auto;
        flex: 0 0 auto;
      }
    }
    .user-controls {
      display: none;
    }


    /*************************/
    /* NOT MINIMIZED */
    .camera-container {
      margin-top: auto;
      display: flex;
      flex-direction: row;
      align-items: flex-end;
      overflow: visible;

      &:not(.visible){
        display: none;
      }

      .user-controls {
        display: flex;
        width: auto;
        flex: 0 0 auto;
        position: absolute;

      }
    }

    .camera-view{
      pointer-events: all;

      .connection-quality-indicator {
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        border: 0;
        border-radius: 0;
      }
      .control-bar.bottom{
        bottom: 0px;
        padding-left: 25px;
        width: auto;
        height: auto;
        background: rgba(0,0,0,0.2);
        border: none;
      }
      .av-control i{
        font-size: var(--font-size-12);
        color: #fff;
      }
      .control-bar.left{
        background: rgba(0,0,0,0.2);
        border: none;
        display: none;
      }
      
      a.av-control[data-action=configure] {
        display: none;
      }
    }

    .camera-view-width-control {
      z-index: 0;
      display: none;
    }

    .camera-grid{
      gap: 6px;
      display: grid;
      justify-content: start;
      grid-template-columns: repeat(auto-fit, minmax(var(--av-width), 1fr));
      max-width: calc(var(--av-width) * 4);
      padding: 0 0 34px 0;
    }

    .camera-view {
      padding: 0;
      pointer-events: all;

      .connection-quality-indicator {
        bottom: 0;
        left: 0;
        height: 3px;
        width: 100%;
        border: 0;
        border-radius: 0;

        &.is-version-10-av.no-nameplate {
          bottom: 0;
          left: 0;
        }
      }
    } 

    /*************************/
    /* MINIMIZED TO BAR */
    &.webrtc-dock-minimized {
      --av-minimized-icon-size: 34px;
      .camera-grid{
        padding: 0 !important;
        align-items: flex-start;
        justify-content: flex-end;
      }

      .video-container:not(.camera-container-popout) img.user-avatar {
        border-radius: 0;
      }

      &.camera-position-left{
        border-right: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-right{
        border-left: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-top{
        border-bottom: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-bottom{
        border-top: 1px solid rgba(50, 50, 70, .75);
      }

      &.camera-position-left,
      &.camera-position-right {
        --camera-bar-max-width: 34px;
        width: calc(var(--av-minimized-icon-size));
        height: 100%;
        border: 0;

        .user-controls .control-bar {
          grid-template-columns: repeat(auto-fit, minmax(16px, 1fr));
          opacity: 0.7;
        }
        .camera-grid{
          align-items: flex-start;
          justify-content: flex-end;
        }
      }

      &.camera-position-bottom,
      &.camera-position-top {
        --camera-bar-max-height: 34px; 

        .user-controls .control-bar {
          opacity: 0.7;
          grid-auto-columns: 32px;
          grid-auto-flow: column;
        }
      }

      &.camera-position-bottom {
        width: auto;
        height: calc(var(--av-minimized-icon-size));
        bottom: 20px;
      }
      
      &.camera-position-top {
        width: auto;
        height: calc(var(--av-minimized-icon-size));
        top: 0;
      }

      .camera-view:not(.camera-box-popout) {
        border-radius: 0;
      }
      .video-container{
        border-radius: 0;
      }
      .camera-view .control-bar {
        visibility: hidden;
      }
      .camera-view .av-control {
        flex: 0 0 24px;
        width: 24px;
        padding: 0;
      }
      a.av-control.toggle.livekit-control {
        display: none;
      }
      
    }

    /*-------------------------------------*/
    /* VIDEO CAMERA AND CONTROLS         
    /*-------------------------------------*/
    .camera-view.no-audio .control-bar{
      opacity: 0.5;
    }
    .user-controls {
      background: rgba(0,0,0,0.2);
      border-top: 0;
      pointer-events: all;
    }
    .user-controls .control-bar a {
      font-size: 0.7em;
      color: #fff;
    }
    .camera-view .volume-bar input {
      margin-top: 6px;
    }

    .user-controls {
      padding: 8px 0;
      .control-bar > * {
        font-size: var(--font-size-12);
        color: #fff;
        width: 100%;
        padding: 3px;
      }
    }

    .camera-view {
      .shadow{
        box-shadow: inset 0 0 60px 20px rgba(0, 0, 0, 0.3);
        transition: all 1.5s ease-out;
      }
      .status-hidden.hidden {
        display: block;
      }
    }

    video{
      filter: brightness(125%) saturate(65%) blur(0.25px) contrast(90%);
      transition: all 1.5s ease-out;
    }

    video:not(.local-camera) {
      transform: rotateY(180deg);
      -webkit-transform:rotateY(180deg); 
      -moz-transform:rotateY(180deg); 
    }
    .player-name {
      border: 0;
      color: #ddd;
      font-size: 1em;
      text-transform: lowercase;
    }
    .notification-bar i{
      color: rgba(255,255,255,0.5);
      font-size: 0.8em;
      line-height: 1.8em;
      z-index: 1000;
    }

  }
  

}