body.crlngn-ui{

  #camera-views,
  #camera-views.camera-position-bottom,
  #camera-views.camera-position-top,
  #camera-views.camera-position-left,
  #camera-views.camera-position-right{
    position: fixed;
    top: -200vh;

    &.visible{
      position: relative;
      top: auto;
    }
  }
  
  #camera-views.crlngn-ui {
    --av-width: 160px;
    --camera-bar-max-width: 34px; 
    --camera-bar-max-height: 0px; 
    --av-frame-border-width: 1px;  
    --av-minimized-icon-size: 34px;
    display: flex;
    margin-top: 0;
    min-width: 0;
    /*max-width: max-content;*/
    max-height: 100%;
    min-height: 100%;
    background: transparent;
    overflow: visible;
    position: fixed;
    left: 0;
    bottom: 0;
    top: auto;
    justify-content: flex-end;
    pointer-events:none;
    z-index:101;
    padding: 0;
    flex-direction: column;

    &:not(.crlngn-ui) {
      .user-controls{
        display: none;
      }
    }
    
    &.crlngn-ui {
      .user-controls{
        display: flex;
      }
    }

    aside#players {
      margin-top: auto;
      width: var(--left-control-item-size);
      background: var(--left-control-main-bg);
      border-top: 0;
      pointer-events: all;
    }

    .video-container img.user-avatar {
      object-fit: cover;
      object-position: center top;
      border: 1px solid transparent;
    }

    /*************************/
    /* NOT MINIMIZED */
    &.camera-position-bottom .camera-container,
    &.camera-position-top .camera-container,
    &.camera-position-left .camera-container,
    &.camera-position-right .camera-container {
      display: flex;
      min-width: 160px;
      min-height: 140px;
      width: auto;
      white-space: nowrap;
      /*max-width: calc(100vw - var(--sidebar-width) - 50px);*/
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: auto;
      overflow: auto;
      position: absolute;
      cursor: move;
      cursor: grab;
      background:rgba(0, 0, 0, 0.0);
      border-radius: 4px;
      pointer-events: all;
      padding: 0 2px 2px;

      &:not(.visible){
        display: none;
      }

      .resize-handle {
        position: absolute;
        width: 15px;
        height: 15px;
        bottom: 0;
        right: 0;
        border-left: 7px solid transparent;
        border-top: 7px solid transparent;
        border-right: 7px solid var(--color-warm-2);
        border-bottom: 7px solid var(--color-warm-2);
        cursor: nwse-resize;
        z-index: 1000;
        opacity: 0;
      }

      .user-controls {
        display: flex;
        flex: 0 0 auto;
        position: relative;
        font-size: var(--font-size-12);
        gap: 2px;
        align-items: center;
        text-align: center;
        margin: 0;
        background: rgba(20, 20, 20, 0); 
        border-radius: 4px;
        border: 0;
        pointer-events: all;
        width: auto;
        padding: 1px;
        opacity: 0;
        /*min-width: var(--max-players-width, 200px);*/

        .crlngn-video-toggle{
          width: 22px; /* var(--left-control-item-size); */
          height: 22px; /* var(--left-control-item-size); */
          flex: 0 0 22px;
          font-family: var(--font-awesome);
          background: rgba(20, 20, 20, 0); 
          box-shadow: none;
          border: 1px solid transparent;
          color: var(--color-text-light-1);
          border-radius: 0;
          margin: 0;
          padding: 0;
          line-height: 1;
          opacity: 0.6;

          &:focus, &:hover{
            box-shadow: none;
            border: 1px solid  var(--color-shadow-highlight);
          }

        }

        i{
          font-size: var(--font-size-12);
        }

        .control-bar {
          gap: 0;
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          flex-wrap: nowrap;
          width: auto;
          display: none;
          margin-right: 6px;
          padding-top: 4px;
          > a {
            align-content: center; 
            min-width: 20px;

            &:hover{
              color: var(--color-text-light-1);
            }
          }
          > .volume-bar {
            display: none;
          }
          > *[data-action=toggle-players]{
            visibility: hidden;
            display: none !important;
          }
        }

        &:hover{
          .control-bar {
            display: flex;
          }
        }
      }

      &:hover{
        background:rgba(0, 0, 0, 0.8);

        .resize-handle {
          opacity: 1;
        }

        .user-controls {
          background:rgba(20, 20, 20, 0.8);
          opacity: 1;
        }

        .crlngn-video-toggle {
          background:rgba(20, 20, 20, 0.8);
          opacity: 1;
        }
      }
    }

    .camera-view{
      pointer-events: all;
      min-width: var(--av-width);
      position: relative;
      padding: 0;
      background: var(--color-dark-bg-90);
      
      &.camera-box-popout{
        min-width: calc(var(--av-width) * 1.2);
      }

      .av-control{
        display: flex;
        flex: 0 0 auto;
        padding: 0;
        font-size: var(--font-size-10);

        i{
          color: #fff;
          font-size: var(--font-size-10);
        }
      }

      .control-bar.left,
      .control-bar.bottom,
      .control-bar.hidden,
      .notification-bar,
      .notification-bar.hidden {
        /*display: flex !important;*/
        border-radius: 0;
        border: 0;
        font-size: var(--font-size-10);
      }
      
      .control-bar.hidden,
      .notification-bar.hidden {
        display: none;
        border-radius: 0;
        border: 0;
        font-size: var(--font-size-10);
      }

      .control-bar.left{
        flex-direction: column;
        justify-content: flex-start;
        max-width: 26px;
        overflow: hidden;
        margin: 0;
        top: 0;
        left: 0;
        width: 26px;
        height: 100%;
        padding: 2px 3px;
        border-radius: 0;
        border: 0;
        background: rgba(0, 0, 0, 0.3);
        justify-content: flex-start;
        gap: 0;

        a.av-control{
          display: flex;
          flex: 0 0 auto;
          height: auto;
          width: 100%;
          padding: 0;
          font-size: var(--font-size-10);
          justify-content: center;
        }
      }

      .control-bar.bottom {
        background: transparent;
        bottom:2px;
        right: 20px;
        left: 26px;
        width: calc(100% - 46px);
        flex-wrap: wrap; 
        justify-content: center;
        padding-right: 2px;
        background: linear-gradient(90deg, transparent, var(--color-dark-bg-90), transparent);
        height: 28px;

        a.av-control{
          display: flex;
          flex: 0 0 auto;
          width: auto;
          min-width: 20px;
          height: auto;
          padding: 0;
          font-size: var(--font-size-10); 
          justify-content: center;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 2px;
          margin: 1px;

          &:hover{
            color: var(--color-text-light-1);
          }
        } 

        .volume-bar {
          display: flex;
          gap: 4px;
          height: 22px;
          order: 100;
          min-width: 100px;
          background: rgba(0, 0, 0, 0.2);
          border-radius: 2px;
          margin: 1px;


          * {
            display: flex !important;
            color: var(--color-text-light-1);
            justify-content: center;

            &:hover{
              color: var(--color-text-light-1);
            }
          }
        }
      }   
      
      input[type=range]{
        border-radius: 4px;
        height: 4px;
      }
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        appearance: none; 
        height: 10px;
        width: 10px;
        background-color: var(--color-highlights);
        border-radius: 50%;
        border: 0;
        margin-top: -4px;
      }
      
      &:hover .control-bar.bottom{
        display: flex;
      }  

      .connection-quality-indicator,
        .connection-quality-indicator.is-version-10-av.no-nameplate {
          top: auto;
          right: auto;
          height: 2px;
          z-index: 1;
          width: calc(100% - 8px);
          bottom: 0;
          left: 4px;
          border-radius: 0;
          border: 0;
      }

      /* camera view control bars */
      .camera-view .control-bar.hidden, .camera-view .notification-bar.hidden {
        display: flex !important;
      }
    }


    .camera-view-width-control {
      z-index: 0;
      display: none;
    }

    .camera-grid{
      gap: 2px;
      display: grid;
      justify-content: flex-start;
      align-content: flex-start;
      grid-auto-rows: auto;
      grid-auto-columns: auto;
      grid-template-columns: repeat(auto-fit, var(--av-width));
      max-width: 100%;
      overflow: auto;
      padding: 0;
      width: 100%;
      height: 100%;
    }

    .camera-box-popout .window-resizable-handle {
      cursor: nwse-resize;
    }


    /*************************/
    /* MINIMIZED TO BAR */
    &.webrtc-dock-minimized {
      --av-width: 34px;
      --av-minimized-icon-size: 34px;

      &.camera-position-bottom .camera-container,
      &.camera-position-top .camera-container,
      &.camera-position-left .camera-container,
      &.camera-position-right .camera-container {
        overflow: visible;
        height: auto;
        width: var(--av-minimized-icon-size);
        /*max-width: var(--av-minimized-icon-size);*/
        max-width: max-content;
        min-width: calc(var(--av-minimized-icon-size) + 4px);
        min-height: calc(var(--av-minimized-icon-size) + 24px);
        max-height: 70px;
        background: var(--left-control-main-bg);

        .resize-handle{
          display: none;
        }

        .user-controls{
          max-width: var(--av-minimized-icon-size);
          overflow: visible;
          background: var(--left-control-main-bg);

          >*{
            background: var(--left-control-main-bg);
          }
        }
      }

      .camera-view:not(.camera-box-popout) {
        width: var(--av-minimized-icon-size);
        height: var(--av-minimized-icon-size);
        padding: 0;
        margin: 0;
        min-width: 0;
        border: 0;
      }
      .camera-grid{
        padding: 0 !important;
        align-items: flex-start;
        justify-content: flex-end;
        gap:0;
        min-width: var(--left-control-item-size);
        min-height: var(--left-control-item-size);
      }

      .video-container:not(.camera-container-popout) img.user-avatar {
        border-radius: 0;
      }

      &.camera-position-left{
        border-right: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-right{
        border-left: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-top{
        border-bottom: 1px solid rgba(50, 50, 70, .75);
      }
      &.camera-position-bottom{
        border-top: 1px solid rgba(50, 50, 70, .75);
      }

      &.camera-position-left,
      &.camera-position-right {
        --camera-bar-max-width: 34px;
        width: var(--av-minimized-icon-size);
        height: 100%;
        border: 0;

        .camera-grid{
          align-items: flex-start;
          justify-content: flex-end;
        }
      }

      &.camera-position-bottom, 
      &.camera-position-top {
        --camera-bar-max-height: 34px; 
      }

      &.camera-position-bottom {
        width: auto;
        height: var(--av-minimized-icon-size);
        bottom: 20px;
      }
      
      &.camera-position-top {
        width: auto;
        height: calc(var(--av-minimized-icon-size));
        top: 0;
      }

      .camera-container{
      }

      .camera-view:not(.camera-box-popout) {
        border-radius: 0;
      }

      .camera-view{
        .control-bar, video, .volume-bar, .notification-bar{
          visibility: hidden;
          display: none;
        }
        .control-bar.bottom {
          right: 0;
          a.av-control{
            min-width: auto;
          }
        }
        
        .connection-quality-indicator,
        .connection-quality-indicator.is-version-10-av.no-nameplate {
          top: auto;
          right: auto;
          height: 2px;
          z-index: 2;
          width: 100%;
          bottom: 0;
          left: 0;
          border-radius: 0;
          border: 0;
        }
      }

      .video-container{
        border-radius: 0;
      }
      
    }

    /*-------------------------------------*/
    /* VIDEO CAMERA AND CONTROLS         
    /*-------------------------------------*/
    .user-controls {
      background: rgba(0,0,0,0.5);
      border-top: 0;
      pointer-events: all;
      padding: 8px 0;
      font-family: var(--font-size-12);
      width: 100%;
    }
    .camera-view .volume-bar input {
      margin-top: 6px;
    }

    .camera-view {
      .shadow{
        box-shadow: inset 0 0 60px 20px rgba(0, 0, 0, 0.3);
        transition: all 1.5s ease-out;
      }
      .status-hidden.hidden {
        display: none;
      }

      &.speaking{
        background: #333;
        border: 2px solid #333;
        padding: 0;
      }
    }

    video{
      filter: brightness(130%) saturate(70%) blur(0.2px);
    }

    video:not(.local-camera) {
      transform: rotateY(180deg);
      -webkit-transform:rotateY(180deg); 
      -moz-transform:rotateY(180deg); 
    }
    .player-name {
      border: 0;
      color: #ddd;
      font-size: 1em;
      text-transform: lowercase;
    }
    .notification-bar i{
      color: rgba(255,255,255,0.5);
      font-size: 0.8em;
      line-height: 1.8em;
      z-index: 1000;
    }
    h3.player-name{
      background: rgba(0, 0, 0, 0.5);
      border-radius: 0;
      bottom: 0;
      right: 0;
      left: 0;
      color: #ddd !important;
    }

    .camera-view-popout.user-hidden{
      opacity: 0.2;
    }

  }


}