/*****************
Chat card layout - start 
******************/
body.crlngn-chat {
  .pill-lg{
    border: none !important;
  }
  .pills .pill {
    border: none !important;
  }
  .chat-card .pills{
    gap: 0.15em;
  }
  :is(.chat-popout, #chat-log) .chat-message .ddb-game-log-chat-card .ddb-card-content a.inline-roll {
    border-radius: 6px;
    border: none;
    color: #4d97c9; 
  }
  .chat-message, .chat-message.whisper {
    border-radius: 6px;
    background: var(--dnd5e-background-card, #e8e8ef);
    box-shadow: 0 0 0px var(--dnd5e-shadow-45);
    border: 0;
  }
  .chat-card .gold-icon,
  :is(.card-tray, .effects-tray) .targets .target > img {
    border: 0;
    border-radius: 3px;
  }
  
  /* border - roll type */
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.roll),
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.custom) {
    border: 2px solid #f5a623;
  }
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.attack) {
    border: 2px solid #1b9af0 !important;
  }
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.damage) {
    border: 2px solid #df7b7b;
  }
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.check),
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.skill),
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.ability),
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.tool) {
    border: 2px solid #b55dff !important;
  }
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.heal), 
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.healing),
  :is(.chat-popout, #chat-log, .chat-log) li.message:last-child:is(.save) {
    border: 2px solid #6cbf5b;
  }
  
  /* flavor text - roll type */
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.roll {
    color: #f5a623;
  }
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.tohit {
    color: #1b9af0;
  }
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.damage {
    color: #df7b7b;
  }
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.check {
    color: #b55dff;
  }
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.heal, 
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.crlngn span.save {
    color: #6cbf5b;
  }
  
  .chat-message.damage ul.target.unlist{
    width: calc(100% - 40px);
    flex: 1 1 calc(100% - 40px);
  }
  
  /* card headers */
  .chat-message .message-header .name-stacked .title {
    letter-spacing: 0.025em;
    font-weight: 500;
  }
  .crlngn.ddbgl .chat-card .card-header.collapsed{
    max-height: 0px;
    padding: 0;
  }
  .chat-message.ddb-game-log-open-card .ddb-game-log-chat-card {
    overflow: auto;
  }
  :is(.chat-popout, #chat-log, .chat-log) .crlngn .message-header .message-sender {
    gap: 0.5em;
  }
  :is(.chat-popout, #chat-log, .chat-log) .chat-message.message .message-header .message-sender img,
  :is(.chat-popout, #chat-log, .chat-log) .crlngn .message-header .message-sender img,
  :is(.chat-popout, #chat-log, .chat-log) .crlngn .message-header .message-sender .avatar img {
    border-radius: 4px;
  }
  
  :is(.chat-popout, #chat-log, .chat-log) .crlngn.ddbgl  .message-header {
    font-size: var(--font-size-12);
    font-family: "Roboto", Arial, sans-serif;
  }
  
  :is(.chat-popout, #chat-log, .chat-log) .crlngn .message-header .subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.02em;
    margin-top:3px;
    font-size: var(--font-size-10);
    font-family: "Roboto", Arial, sans-serif;
  }
  
  :is(.chat-popout, #chat-log, .chat-log) .message:not(.ddbgl) .message-header .flavor-text {
    text-transform: uppercase;
    letter-spacing: 0.02em;
    font-size: var(--font-size-10);
    font-family: "Roboto", Arial, sans-serif;
    /*display: none !important;*/
  }
  /*.crlngn .chat-card .card-header.description:not(.collapsible){
    display: none;
  }*/
  
  /* content */
  .chat-card,
  :is(.chat-popout, #chat-log, .chat-log) .message-content {
    line-height: 1.25;
  }
  .chat-card .description {
    background: transparent;
    border: none;
  }
  .chat-card .description{
    background: rgba(255,255,255,0.7);
    border: none;
    line-height: 1.35;
    padding: 0.5rem 0;
  }

  .chat-card .description .details, 
  .chat-card .description .details p {
    line-height: 1.15rem; 
    font-size: var(--font-size-11); 
  }

  .chat-card .description .details > .wrapper {
    display: block;
    line-height: 1.4;
    
  }
  .chat-card .description .details span,
  .chat-card .description .details span.reference-link{
    display: inline-block !important;
  }
  .chat-card .description details {
    margin: 10px 0;
  }
  .chat-card .description details summary{
    margin: 10px 0;
  }
  .chat-message .ddb-game-log-chat-card .ddb-card-content p{
    font-size: var(--font-size-12);
  }
  
  .chat-message .message-content .dice-total, 
  .chat-message.ddb-game-log-message .dice-total, 
  .chat-message .message-content .dice-formula, 
  .chat-message.ddb-game-log-message .dice-formula {
    border: 1px solid rgba(0,0,0,0);
    box-shadow: none;
    background: rgba(0,0,0,0,0.2);
  }
  .chat-message .message-content .dice-formula, 
  .chat-message.ddb-game-log-message .dice-formula{
    font-size: var(--font-size-11);
  }
  
  /* card button layout */
  .chat-card .card-buttons:not(.midi-buttons) {
    flex-direction: row;
    flex-wrap: wrap;
  }
  .chat-card .card-buttons:not(.midi-buttons) > * {
    flex: 1 1 calc((100% - 10px) / 2);
    min-width: calc((100% - 10px) / 2);
    width: 100%;
  }
  
  .crlngn.ddbgl .chat-card .card-buttons:not(.midi-buttons) > button[data-action=rollAttack],
  .crlngn.ddbgl .chat-card .card-buttons:not(.midi-buttons) > button[data-action=rollDamage]{
    display: none;
  }
  
  .chat-card .card-buttons > button span {
    font-size: 0;
    align-self: center;
    display: inline-flex;
  }
  
  .chat-card .card-buttons > button span:before {
    content: "";
    display: flex;
    font-size: 0.65rem;
  }
  
  .chat-card .card-buttons > button[data-action=rollAttack] span:before {
    content: "attack";
  }
  
  .chat-card .card-buttons > button[data-action=rollHealing] span:before {
    content: "healing";
  }
  
  .chat-card .card-buttons > button[data-action=rollDamage] span:before {
    content: "damage";
  }
  
  .chat-card .card-buttons > button[data-action=placeTemplate] span:before {
    content: "template";
  }
  
  .chat-card .card-buttons > button[data-action=consumeResource] span:before {
    content: "consume";
  }
  
  .chat-card .card-buttons > button[data-action=refundResource] span:before {
    content: "refund";
  }
  
  .chat-card .card-buttons > button[data-action=executeMacro] span:before {
    content: "macro";
  }
  
  .chat-card .card-buttons > button[data-action=rollSave]:after {
    content: attr(data-ability) " save DC " attr(data-dc);
    text-transform: uppercase;
  }
  
  /* effects / targets list */
  
  :is(.card-tray, .effects-tray) .effects .effect:not(:last-child),
  :is(.card-tray, .effects-tray) .targets .effect:not(:last-child),
  :is(.card-tray, .effects-tray) .effects .target:not(:last-child),
  :is(.card-tray, .effects-tray) .targets .target:not(:last-child) {
    margin-bottom: 6px;
  } 
  :is(.card-tray, .effects-tray) .target-source-control {
    margin: 4px 0 6px 0;
  }
  :is(.card-tray, .effects-tray) button:not(.unbutton),
  .chat-card button:not(.unbutton){
    min-height: 26px;
    font-size: 11px;
    padding: 5px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    margin: 5px 0 0 0;
    width: 100%;
  }
  
  /* dnd5e buttons */
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button, 
  .card-tray .targets .target .damage-multipliers button {
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button::after, 
  .card-tray .targets .target .damage-multipliers button::after {
    display: none;
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button[aria-pressed="true"], 
  .card-tray .targets .target .damage-multipliers button[aria-pressed="true"] {
    box-shadow: 0 0 102px rgba(0,0,0,0.1);
    border: 1px solid var(--color-text-hyperlink);
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers::before, 
  .card-tray .targets .target .damage-multipliers::before {
    display: none;
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers, 
  .card-tray .targets .target .damage-multipliers {
    grid-template-columns: repeat(6, 1fr);
    margin-inline: 0;
  }
  :is(.card-tray, .effects-tray) > label, 
  .card-tray > label {
    padding: 8px 0 0 0;
  }

  .chat-card .card-buttons > * span {
    font-size: 0.9em;
  }

  section.card-header.description.rsr-section-attack,
  section.card-header.description.rsr-section-damage {
    padding: 0;
    background: transparent;
  }

  .chat-message .message-content .midi-results{
    line-height: 1.6;
  }
  /* Chat card layout - end */



  /*********
  DARK MODE 
  **********/
  /* CHAT MESSAGE CARD */
  &.theme-dark .chat-message,
  &[data-ddb-custom-style=dark] .chat-message,
  &.theme-dark .chat-message.whisper,
  &[data-ddb-custom-style=dark] .chat-message.whisper {
    background: #182026 !important;
    color: #8a9ba8;
    transition: border .2s ease-in-out;
    border: 2px solid #182026;
  }

  &.theme-dark .chat-message.whisper,
  &[data-ddb-custom-style=dark] .chat-message.whisper {
    border: 2px dotted #182026;
  }
  &.theme-dark .chat-message:before,
  &[data-ddb-custom-style=dark] .chat-message:before {
    opacity: 0.2;
  }
  &.theme-dark .chat-message .message-content,
  &[data-ddb-custom-style=dark] .chat-message .message-content {
    color: #989fa5;
  }
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .message-content .ddb-card-content a {
    color:#4d97c9;
  }

  /* headers */
  &.theme-dark :is(.chat-popout, #chat-log, .chat-log) .chat-message .message-header .title,
  &.theme-dark :is(.chat-popout, #chat-log, .chat-log) .chat-message .message-header h4.message-sender ,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log, .chat-log) .chat-message .message-header .title{
    color: #a8b4bc;
  }
  &.theme-dark :is(.chat-popout, #chat-log, .chat-log) .message .message-header .subtitle,
  &.theme-dark :is(.chat-popout, #chat-log, .chat-log) .message .flavor-text, 
  &.theme-dark :is(.chat-popout, #chat-log, .chat-log) .message .user, 
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log, .chat-log) .message .message-header .subtitle,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log, .chat-log) .message .flavor-text {
    color: #fff;
  }
  &.theme-dark .chat-message.crlngn:last-of-type.tohit,
  &[data-ddb-custom-style=dark] .chat-message.crlngn:last-of-type.tohit{
    border:2px solid #1b9af0 !important;
  }

  /* message content */
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .message-content .ddb-game-log-chat-card .ddb-card-content a {
    color:#4d97c9;
  }

  &.theme-dark :is(.card-tray, .effects-tray) > label::before, 
  &.theme-dark :is(.card-tray, .effects-tray) > label::after ,
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) > label::before, 
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) > label::after {
    opacity: 0.35;
  }

  &.theme-dark .chat-message .message-content .dice-result .dice-formula, 
  &.theme-dark .chat-message.ddb-game-log-message .dice-result .dice-formula,
  &.theme-dark .chat-message .message-content .dice-result .dice-total, 
  &.theme-dark .chat-message.ddb-game-log-message .dice-result .dice-total,
  &[data-ddb-custom-style=dark] .chat-message .message-content .dice-result .dice-formula, 
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-formula,
  &[data-ddb-custom-style=dark] .chat-message .message-content .dice-result .dice-total, 
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-total {
    border: 0;
    box-shadow: none;
    background: rgb(32, 47, 58, 0.5); 
  }

  &.theme-dark .dice-result .dice-total::before,
  &[data-ddb-custom-style=dark] .dice-result .dice-total::before {
    border-left: 1px solid var(--color-border-dark-1);
  }
  &.theme-dark .dice-result .dice-total.success,
  &[data-ddb-custom-style=dark] .dice-result .dice-total.success {
    border: 1px solid var(--dnd5e-color-success);
  }
  &.theme-dark .chat-message.ddb-game-log-message .dice-formula, 
  &.theme-dark .chat-message.ddb-game-log-message .dice-total,
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-formula, 
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-total {
    border: 0;
  }
  &.theme-dark .dice-result .dice-tooltip .tooltip-part,
  &[data-ddb-custom-style=dark] .dice-result .dice-tooltip .tooltip-part {
      border-bottom: 1px solid var(--color-border-dark-1);
  }
  &.theme-dark .crlngn.chat-card .pills .pill,
  &[data-ddb-custom-style=dark] .crlngn.chat-card .pills .pill {
    background: #202f3a;
    color: #999;
    font-size: .7em;
    padding: .3em .4em .2em;
    font-weight: 300;
    letter-spacing: 0.03em;
  }

  &.theme-dark .chat-message .message-content,
  &[data-ddb-custom-style=dark] .chat-message .message-content {
    color: #cad1d6;
  }
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-formula, 
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-total {
    border: 1px solid #000;
    box-shadow: none;
  }

  &.theme-dark .chat-message .message-content .dice-total.success,
  &[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.success {
    border: 1px solid rgba(85, 200, 0, 0.3);
  }

  &.theme-dark .chat-message .message-content .dice-total.miss,
  &.theme-dark .chat-message .message-content .dice-total.failure ,
  &[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.miss,
  &[data-ddb-custom-style=dark] .chat-message .message-content .dice-total.failure {
    border: 1px solid rgba(255, 45, 45, 0.3);
  } 

  &.theme-dark .chat-message .dice-result .dice-total.success,
  &.theme-dark .chat-message.ddb-game-log-message .dice-result .dice-total.critical
  &[data-ddb-custom-style=dark] .chat-message .dice-result .dice-total.success,
  &[data-ddb-custom-style=dark] .chat-message.ddb-game-log-message .dice-result .dice-total.critical {
    color: #d9ffbd;
  }
  /* bold highlights */
  &.theme-dark .chat-card p.supplement > strong,
  &[data-ddb-custom-style=dark] .chat-card p.supplement > strong {
    color: rgba(155,155,155,1);
  }

  /* description and details */
  &.theme-dark .chat-card .description,
  &[data-ddb-custom-style=dark] .chat-card .description {
    background: rgba(0,0,0,0.15);
    border: 0;
    padding: 0.5rem 0;
  }
  &.theme-dark .chat-card .description.rsr-section-attack,
  &.theme-dark .chat-card .description.rsr-section-damage{
    background: transparent;
  }
  &.theme-dark .crlngn.chat-card .description .details,
  &[data-ddb-custom-style=dark] .crlngn.chat-card .description .details,
  &.theme-dark .crlngn.chat-card .message-content .description .details p,
  &[data-ddb-custom-style=dark] .crlngn.chat-card .message-content .description .details p {
    color: #555;
  }
  &.theme-dark .chat-message .ddb-game-log-chat-card .ddb-item-name,
  &.theme-dark #sidebar .chat-message hr,
  &[data-ddb-custom-style=dark] .chat-message .ddb-game-log-chat-card .ddb-item-name,
  &[data-ddb-custom-style=dark] #sidebar .chat-message hr{
    border-color: rgba(0,0,0,0.5);
  }

  /* effects / targets list */

  &.theme-dark :is(.card-tray, .effects-tray) .target-source-control,
  &.theme-dark .card-tray .target-source-control,
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .target-source-control,
  &[data-ddb-custom-style=dark] .card-tray .target-source-control {
    margin: 4px 0 6px 0;
  }

  &.theme-dark :is(.card-tray, .effects-tray) .target-source-control button, 
  &.theme-dark .card-tray .target-source-control button,
  &.theme-dark .chat-message .message-content button,
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .target-source-control button, 
  &[data-ddb-custom-style=dark] .card-tray .target-source-control button {
    color: var(--color-text-dark);
  }

  &.theme-dark .dnd5e2:not(.chat-card, .create-document) button:not(.pip):hover, 
  &.theme-dark .dnd5e-theme-dark button:not(.pip):hover,
  &.theme-dark .chat-message .message-content button:hover,
  &[data-ddb-custom-style=dark] .dnd5e2:not(.chat-card, .create-document) button:not(.pip):hover, 
  &[data-ddb-custom-style=dark] .dnd5e-theme-dark button:not(.pip):hover {
    border-color: rgba(0,0,0);
    background: #000;
    color: #ccc;
  }

  &.theme-dark :is(.card-tray, .effects-tray) .target-source-control button:hover, 
  &.theme-dark :is(.card-tray, .effects-tray) .target-source-control button:focus, 
  &.theme-dark :is(.card-tray, .effects-tray) .target-source-control button[aria-pressed="true"], 
  &.theme-dark .card-tray .target-source-control button[aria-pressed="true"],
  &.theme-dark .chat-message .message-content button:hover, 
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .target-source-control button:hover, 
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .target-source-control button:focus, 
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .target-source-control button[aria-pressed="true"] {
    background: rgba(0,0,0,1);
    opacity: 1;
    color: #fff;
  }

  &.theme-dark .effects .effect:not(:last-child), 
  &.theme-dark .targets .effect:not(:last-child), 
  &.theme-dark .effects .target:not(:last-child),
  &.theme-dark .targets .target:not(:last-child),
  &[data-ddb-custom-style=dark] .effects .effect:not(:last-child), 
  &[data-ddb-custom-style=dark] .targets .effect:not(:last-child), 
  &[data-ddb-custom-style=dark] .effects .target:not(:last-child), 
  &[data-ddb-custom-style=dark] .targets .target:not(:last-child) {
    border-bottom: 1px solid #000;
  } 
  &.theme-dark :is(.chat-popout, #chat-log) .message .evaluation .target,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .evaluation .target {
    color: #fff;
    padding: 6px 8px;
  }
  &.theme-dark :is(.chat-popout, #chat-log) .message .evaluation .target.hit,
  &.theme-dark :is(.chat-popout, #chat-log) .message .evaluation .target.success,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .evaluation .target.hit,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .evaluation .target.success {
    /*background-color:rgb(128, 170, 101, 0.6);*/
    border: 0;
  }

  &.theme-dark :is(.chat-popout, #chat-log) .message .evaluation .target.miss,
  &.theme-dark :is(.chat-popout, #chat-log) .message .evaluation .target.failure,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .evaluation .target.miss,
  &[data-ddb-custom-style=dark] :is(.chat-popout, #chat-log) .message .evaluation .target.failure {
    /*background-color:rgba(217, 116, 116, 0.6);*/
    border: 0;
  } 

  /* card buttons */
  &.theme-dark :is(.card-tray, .effects-tray) button:not(.unbutton),
  &.theme-dark .chat-card button:not(.unbutton),
  &.theme-dark .chat-message .message-content button:not(.unbutton),
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) button:not(.unbutton),
  &[data-ddb-custom-style=dark] .chat-card button:not(.unbutton){
    background: rgb(32, 47, 58, 0.5); 
    border: 1px solid rgba(0,0,0,0.35); 
    color: var(--color-text-dark); 
  }
  &.theme-dark :is(.card-tray, .effects-tray) button:hover ,
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) button:hover {
    box-shadow: none;
  }
  &.theme-dark :is(.card-tray, .effects-tray) .targets .target .change-source > dnd5e-icon,
  &[data-ddb-custom-style=dark] :is(.card-tray, .effects-tray) .targets .target .change-source > dnd5e-icon {
    filter: invert(1);
  }

  /* inline rolls  */
  &.theme-dark :is(.dnd5e2, .dnd5e2-journal) a:is(.content-link, .inline-roll) > i, 
  &.theme-dark :is(.dnd5e2, .dnd5e2-journal) :is(.roll-link, .reference-link) a > i,
  &.theme-dark .roll-link a i,
  &.theme-dark .reference-link a>i, 
  &.theme-dark .roll-link a i, 
  &.theme-dark .roll-link a>i, 
  &.theme-dark a.content-link>i, 
  &.theme-dark a.inline-roll>i, 
  &.theme-dark .dnd5e2-journal .reference-link a>i, 
  &.theme-dark .dnd5e2-journal .roll-link a>i, 
  &.theme-dark .dnd5e2-journal a.content-link>i, 
  &.theme-dark .dnd5e2-journal a.inline-roll>i,
  &[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) a:is(.content-link, .inline-roll) > i, 
  &[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) :is(.roll-link, .reference-link) a > i,
  &[data-ddb-custom-style=dark] .roll-link a i,
  &[data-ddb-custom-style=dark] .reference-link a>i, 
  &[data-ddb-custom-style=dark] .roll-link a i, 
  &[data-ddb-custom-style=dark] .roll-link a>i, 
  &[data-ddb-custom-style=dark] a.content-link>i, 
  &[data-ddb-custom-style=dark] a.inline-roll>i, 
  &[data-ddb-custom-style=dark] .dnd5e2-journal .reference-link a>i, 
  &[data-ddb-custom-style=dark] .dnd5e2-journal .roll-link a>i, 
  &[data-ddb-custom-style=dark] .dnd5e2-journal a.content-link>i, 
  &[data-ddb-custom-style=dark] .dnd5e2-journal a.inline-roll>i,
  &.theme-dark :is(.dnd5e2, .dnd5e2-journal) .message a > i,
  &[data-ddb-custom-style=dark] :is(.dnd5e2, .dnd5e2-journal) .message a > i { 
    color: white;
    filter: brightness(100);
  }

  /* PF2E */
  &.theme-dark .chat-message .message-header .flavor-text .modifiers .tag {
    background: rgb(32, 47, 58, 0.5); 
    color: #fff;
  }
}