/*****************
Chat card layout - start 
******************/
body.crlngn-chat {
  --color-pf-alternate: rgba(82, 107, 120, 0.44);
  --crlngn-chat-button-bg-15: rgba(32, 47, 58, 0.15);
  --crlngn-chat-button-bg-25: rgba(32, 47, 58, 0.25);
  --crlngn-chat-button-bg-50: rgba(32, 47, 58, 0.5);
  --crlngn-chat-button-bg-15: rgba(32, 47, 58, 0.15);
  --crlngn-dark-blue: rgba(24, 32, 38, 1); 
  --crlngn-dark-blue-b: rgb(29, 36, 48, 1); 
  --crlngn-dark-bg: rgba(32, 47, 58, 1); 
  --crlngn-dark-bg-15: rgba(32, 47, 58, 0.15);
  --crlngn-dark-bg-25: rgba(32, 47, 58, 0.25);
  --crlngn-dark-bg-50: rgba(32, 47, 58, 0.50); 
  --crlngn-dark-bg-75: rgba(32, 47, 58, 0.75); 
  --crlngn-dark-bg-90: rgba(32, 47, 58, 0.90); 
  --color-text-gray-blue: rgb(168, 180, 188, 1);
  --color-text-gray-blue-b: rgb(138, 155, 168, 1);

  /* variables for the custom dnd5e card buttons */
  --crlngn-i18n-attack: "attack";
  --crlngn-i18n-healing: "healing";
  --crlngn-i18n-damage: "damage";
  --crlngn-i18n-template: "template";
  --crlngn-i18n-consume: "consume";
  --crlngn-i18n-summons: "summons";
  --crlngn-i18n-refund: "refund";
  --crlngn-i18n-macro: "macro";
  --crlngn-i18n-save-dc: " save DC ";

  .sidebar-tab{
    --dnd5e-color-gold: var(--color-warm-3);
    --checkbox-fill-color: var(--color-warm-3);
    --checkbox-border-color: var(--color-warm-3);
  }
  .chat-message .message-content:not(.dnd5e2) {
    p, ul, ol, li, span, a, b, strong {
      font-family: var(--crlngn-font-family);
    }
    h3, h4, h5, h6 {
      font-family: var(--crlngn-font-family);
    }
    
    h1, h2{
      font-family: var(--crlngn-font-titles);
    }
  }

  /*
  .chat-message .message-content:not(:has(div)){
    margin: 1em 0;
  }
  */

  .chat-message .message-content .gold-icon{
    border: 1px solid var(--color-dark-bg-50);
  }

  #chat-log{
    padding: 1em 0;
  }

  .pill-lg{
    border: none;
  }
  .chat-card .pills .pill {
    border: none;
    font-size: 0.72em;
    font-weight: 500;
    background-color: var(--crlngn-chat-button-bg-15);
    padding: 3px 5px;
  }
  .chat-card .pills{
    gap: 0.2em;
  }
  :is(.chat-popout, #chat-log) .chat-message .ddb-game-log-chat-card .ddb-card-content a.inline-roll {
    border-radius: 6px;
    border: none;
    color: var(--color-highlights); 
  }
  .chat-message, .chat-message.whisper {
    border-radius: 6px;
    background: var(--dnd5e-background-card, #e8e8ef);
    box-shadow: 0 0 0px var(--dnd5e-shadow-45);
    border: 0;
  }
  .chat-card .gold-icon,
  :is(.card-tray, .effects-tray) .targets .target > img {
    border: 0;
    border-radius: 3px;
  }
  .chat-message.crlngn h1, 
  .chat-message.crlngn h2, 
  .chat-message.crlngn h3{
    font-family: var(--crlngn-font-titles);
  }

  .chat-message.crlngn, 
  .chat-message.crlngn h4, 
  .chat-message.crlngn h5,
  .chat-message.crlngn h6,
  .chat-message.crlngn .card-header {
    font-family: var(--crlngn-font-family);
  }
  /*
  &.no-borders{
    :is(.chat-popout, #chat-log) .chat-message,
    :is(.chat-popout, #chat-log) .chat-message.whisper,
    :is(.chat-popout, #chat-log) .chat-message.blind{
      border-width: 1px;
      border-style: solid;
      border-color: transparent;
    }
  }*/

  &.player-chat-borders,
  &.roll-chat-borders {
    :is(.chat-popout, #chat-log) .chat-message,
    :is(.chat-popout, #chat-log) .chat-message.whisper,
    :is(.chat-popout, #chat-log) .chat-message.blind{
      transition: border .2s ease-in-out; 
      border-width: 1px;
      border-style: solid;
    }
  }
  
  /* DND5e */
  /* use colors per roll type */
  &.roll-chat-borders {
    --ddb-color-custom-roll: #f5a623;
    --ddb-color-attack-roll: #1b9af0;
    --ddb-color-damage-roll: #df7b7b;
    --ddb-color-ability-roll: #b55dff;
    --ddb-color-heal-roll: #6cbf5b;

    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.roll),
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.custom) {
      border: 1px solid var(--ddb-color-custom-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.attack) {
      border: 1px solid var(--ddb-color-attack-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.damage) {
      border: 1px solid var(--ddb-color-damage-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.check),
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.skill),
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.ability),
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.tool) {
      border: 1px solid var(--ddb-color-ability-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.heal), 
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.healing),
    &.system-dnd5e :is(.chat-popout, #chat-log) li.message:is(.save) {
      border: 1px solid var(--ddb-color-heal-roll);
    }
    
    /* flavor text - roll type */
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.roll {
      color: var(--ddb-color-custom-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.tohit {
      color: var(--ddb-color-attack-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.damage {
      color: var(--ddb-color-damage-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.check {
      color: var(--ddb-color-ability-roll);
    }
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.heal, 
    &.system-dnd5e :is(.chat-popout, #chat-log) .chat-message.crlngn span.save {
      color: var(--ddb-color-heal-roll);
    }
  }
  
  
  .chat-message.damage ul.target.unlist{
    width: calc(100% - 40px);
    flex: 1 1 calc(100% - 40px);
  }
  
  /* card headers */
  .chat-message .message-header .name-stacked .title,
  &.system-dnd5e .chat-message .name-stacked .title {
    letter-spacing: 0.015em;
    font-weight: 500;
    font-family: var(--crlngn-font-family);
  }

  .crlngn.ddbgl .chat-card .card-header.collapsed{
    max-height: 0px;
    padding: 0;
  }
  .chat-message.ddb-game-log-open-card .ddb-game-log-chat-card {
    overflow: auto;
  }
  :is(.chat-popout, #chat-log) .crlngn .message-header .message-sender {
    gap: 0.5em;
  }
  :is(.chat-popout, #chat-log) .chat-message.message .message-header .message-sender img,
  :is(.chat-popout, #chat-log) .crlngn .message-header .message-sender img,
  :is(.chat-popout, #chat-log) .crlngn .message-header .message-sender .avatar img {
    border-radius: 4px;
  }
  
  :is(.chat-popout, #chat-log) .crlngn.ddbgl  .message-header {
    font-size: var(--font-size-12);
  }
  
  :is(.chat-popout, #chat-log) .crlngn .message-header .subtitle {
    text-transform: uppercase;
    font-weight: 600;
    font-style: italic;
    letter-spacing: 0.02em;
    margin-top:3px;
    font-size: var(--font-size-11);
  }
  
  :is(.chat-popout, #chat-log) .message:not(.ddbgl) .message-header .flavor-text {
    /*text-transform: uppercase;*/
    letter-spacing: 0.02em;
    font-size: var(--font-size-11);
    line-height: 1.4;
    margin: 0.5em 0;
  }
  :is(.chat-popout, #chat-log) .message .message-header .message-sender img {
    background: var(--color-dark-bg-25);
    box-shadow: 0 0 4px var(--color-dark-bg-50);
  }

  .chat-message a.content-link, 
  .chat-message a.inline-roll {
    background: var(--);
    padding: 2px 6px;
    line-height: 1.6;
    border: none;
    border-radius: 3px;
    white-space: nowrap;
    word-break: break-all; 
  }

  .chat-message .cards-notification{
    margin: 1rem 0;
    img{
      border: none;
    }

  }
  /*.crlngn .chat-card .card-header.description:not(.collapsible){
    display: none;
  }*/
  
  /* content */
  .chat-card,
  :is(.chat-popout, #chat-log) .message-content {
    line-height: 1.25;
  }

  .chat-card .description {
    background-color: transparent;
    border: none;
  }

  .chat-card .description{
    background: rgba(255,255,255,0.7);
    border: none;
    line-height: 1.35;
    padding: 0.5rem 0;

    > *:not(header){
      margin: 2px 0;
    }
    header {
      margin: 0 0 6px 0;
    }
  }

  .chat-card .description .details, 
  .chat-card .description .details p {
    line-height: 1.15rem; 
    font-size: var(--font-size-12); 
  }

  .chat-card .description .details > .wrapper {
    display: block;
    line-height: 1.4;
    
  }
  .chat-card .description .details span,
  .chat-card .description .details span.reference-link{
    display: inline-block;
  }
  .chat-card .description details {
    margin: 10px 0;
  }
  .chat-card .description details summary{
    margin: 10px 0;
  }
  .chat-message .ddb-game-log-chat-card .ddb-card-content p{
    font-size: var(--font-size-12);
  }
  
  .chat-message .message-content .dice-total, 
  .chat-message.ddb-game-log-message .dice-total, 
  .chat-message .message-content .dice-formula, 
  .chat-message.ddb-game-log-message .dice-formula {
    border: 1px solid transparent;
    box-shadow: none;
    background: var(--color-dark-bg-15);
  }
  .chat-message .message-content .dice-formula, 
  .chat-message.ddb-game-log-message .dice-formula{
    font-size: var(--font-size-12);
  }
  
  /* card button layout */
  .chat-card .card-buttons:not(.midi-buttons) {
    flex-direction: row; 
    flex-wrap: wrap; 
  }
  .chat-card .card-buttons:not(.midi-buttons) > * {
    flex: 1 1 calc((100% - 10px) / 2);
    min-width: calc((100% - 10px) / 2);
    width: 100%;
  }

  .chat-message .rsr-title dnd5e-icon {
    display: none;
  }
  .chat-message .card-buttons > button[data-action=rollAttack],
  .chat-message .chat-card > button[data-action=rollAttack],
  .chat-message.attack .rsr-section-attack .rsr-title {
    *:first-child {
      display: none;
    }
    &:before{
      content: '\2694';
      font-size: var(--font-size-16);
      color: var(--color-text-dark-1);
    }
  }

  .chat-message .card-buttons > button[data-action=rollHealing],
  .chat-message.heal .rsr-title {
    *:first-child {
      display: none;
    }
    &:before{
      content: '\2695';
      /*font-family: var(--font-awesome);*/
      font-size: var(--font-size-16);
      color: var(--color-text-dark-1);
    }
  }

  

  .chat-card .card-buttons > button {
    &[data-action=placeSummons],
    &[data-action=rollAttack],
    &[data-action=rollHealing],
    &[data-action=rollDamage],
    &[data-action=placeTemplate],
    &[data-action=consumeResource],
    &[data-action=refundResource],
    &[data-action=executeMacro],
    &[data-action=rollSave] {
      span{
        font-size: 0;
        align-self: center;
        display: inline-flex;
        align-items: center;
      }

      span:before {
        content: "";
        display: flex;
      }
    }

    span:not(.hidden-dc, .visible-dc) {
      display: flex;
      align-items: center;

      > i {
        margin-right: 0.25rem;
      }
    }
  }
  


  &.system-dnd5e .chat-card .description .summary > img {
    align-self: flex-start;
  }

  &.system-dnd5e .chat-card .card-buttons > button span:before {
    content: "";
    display: flex;
    font-size: 0.65rem;
  }
/*
  &.system-dnd5e .chat-card {
    --crlngn-i18n-attack: "attack";
    --crlngn-i18n-healing: "healing";
    --crlngn-i18n-damage: "damage";
    --crlngn-i18n-template: "template";
    --crlngn-i18n-consume: "consume";
    --crlngn-i18n-summons: "summons";
    --crlngn-i18n-refund: "refund";
    --crlngn-i18n-macro: "macro";
    --crlngn-i18n-save-dc: " save DC ";
  }
    */
  &.system-dnd5e .chat-card .card-buttons > button[data-action=placeSummons] span:before {
    /*content: "summons";*/
    content: var(--crlngn-i18n-summons);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=rollAttack] span:before {
    /*content: "attack";*/
    content: var(--crlngn-i18n-attack);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=rollHealing] span:before {
    /*content: "healing";*/
    content: var(--crlngn-i18n-healing);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=rollDamage] span:before {
    /*content: "damage";*/
    content: var(--crlngn-i18n-damage);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=placeTemplate] span:before {
    /*content: "template";*/
    content: var(--crlngn-i18n-template);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=consumeResource] span:before {
    /*content: "consume";*/
    content: var(--crlngn-i18n-consume);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=refundResource] span:before {
    /*content: "refund";*/
    content: var(--crlngn-i18n-refund);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=executeMacro] span:before {
    /*content: "macro";*/
    content: var(--crlngn-i18n-macro);
  }
  
  &.system-dnd5e .chat-card .card-buttons > button[data-action=rollSave]:after {
    content: attr(data-ability) var(--crlngn-i18n-save-dc) attr(data-dc);
    text-transform: uppercase;
  }
  
  /* effects / targets list */
  
  :is(.card-tray, .effects-tray) .effects .effect:not(:last-child),
  :is(.card-tray, .effects-tray) .targets .effect:not(:last-child),
  :is(.card-tray, .effects-tray) .effects .target:not(:last-child),
  :is(.card-tray, .effects-tray) .targets .target:not(:last-child) {
    margin-bottom: 6px;
  } 
  :is(.card-tray, .effects-tray) .target-source-control {
    margin: 4px 0 6px 0;
  }
  :is(.card-tray, .effects-tray) button:not(.unbutton),
  .chat-card button:not(.unbutton){
    min-height: 26px;
    font-size: 11px;
    padding: 5px;
    border: 1px solid var(--color-dark-bg-15);
    margin: 5px 0 0 0;
    width: 100%;
  }
  
  /* dnd5e buttons */
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button, 
  .card-tray .targets .target .damage-multipliers button {
    border: 1px solid var(--color-dark-bg-15);
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button::after, 
  .card-tray .targets .target .damage-multipliers button::after {
    display: none;
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers button[aria-pressed="true"], 
  .card-tray .targets .target .damage-multipliers button[aria-pressed="true"] {
    box-shadow: 0 0 102px var(--color-dark-bg-15);
    border: 1px solid var(--color-text-hyperlink);
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers::before, 
  .card-tray .targets .target .damage-multipliers::before {
    display: none;
  }
  :is(.card-tray, .effects-tray) .targets .target .damage-multipliers, 
  .card-tray .targets .target .damage-multipliers {
    grid-template-columns: repeat(6, 1fr);
    margin-inline: 0;
  }
  :is(.card-tray, .effects-tray) > label, 
  .card-tray > label {
    padding: 8px 0 0 0;
  }

  .chat-card .card-buttons > * span {
    font-size: var(--font-size-11);
  }

  section.card-header.description.rsr-section-attack,
  section.card-header.description.rsr-section-damage {
    padding: 0;
  }

  .chat-message .message-content .midi-results{
    line-height: 1.6;
  }
  /*
  :is(.chat-popout, #chat-log) .chat-message,
  :is(.chat-popout, #chat-log) .chat-message.whisper,
  :is(.chat-popout, #chat-log) .chat-message.blind{
    transition: border .2s ease-in-out;
    border-width: 1px;
    border-style: solid;
  }*/

  /* Chat card layout - end */

  /*********
  DARK MODE 
  **********/
  &.theme-dark, &[data-ddb-custom-style=dark] {

    .sidebar-tab {
      --dnd5e-color-card: var(--crlngn-dark-blue);
      --dnd5e-color-success-background: rgba(98, 184, 117, 0.35);
      --dnd5e-color-failure-background: rgba(209, 67, 67, 0.35);
      --dnd5e-text-color-success: #c1e6a7;
      --dnd5e-text-color-failure: #d8aeae;
      --dnd5e-color-crimson: var(--color-highlights-75);
    }

    .chat-message p,
    .chat-message span,
    .chat-message div,
    .chat-message table,
    .chat-message ul,
    .chat-message ol {
      color: var(--color-text-light-3);
    }
    .chat-message .message-header .name-stacked .title,
    &.system-dnd5e .chat-message .name-stacked .title {
      color: var(--color-text-light-1);
    }

    .sidebar-tab{
      .chat-message .message-content:not(.dnd5e2) {
        p, ul, ol, li, a, b, strong {
          background-color: transparent;
        }
      }
    }

    :is(.chat-popout, #chat-log) .chat-message,
    .chat-popout .chat-message,
    #chat-log .chat-message,
    .chat-popout .chat-message.whisper,
    #chat-log .chat-message.whisper,
    .chat-popout .chat-message.blind,
    #chat-log .chat-message.blind {
      background: var(--crlngn-dark-blue); 
      color: var(--color-text-gray-blue-b);
      border-color: transparent;
    }
    
    .chat-message.crlngn h1, 
    .chat-message.crlngn h2, 
    .chat-message.crlngn h3{
      color: var(--color-text-light-1);
      font-family: var(--crlngn-font-titles);
    }
  
    .chat-message.crlngn, 
    .chat-message.crlngn h4, 
    .chat-message.crlngn h5,
    .chat-message.crlngn h6,
    .chat-message.crlngn .card-header {
      color: var(--color-text-light-1);
      font-family: var(--crlngn-font-family);
    }
  
    /* CHAT MESSAGE CARD */
    .chat-message .table-draw .table-results .table-result {
      align-items: flex-start;
  
      p{
        margin: 0;
      }
    }
    
    .chat-message .table-draw .table-results .table-result img.result-image {
      border: none;
      background-color: rgba(235, 235, 255, 0.4);
    }
  
  
    .chat-message.whisper {
      border: 2px dotted var(--color-text-light-2);
      background: repeating-linear-gradient( -45deg, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 1px, rgba(60,60,80,1) 2px, rgba(60,60,80,1) 3px);
    }
    .chat-message:before {
      opacity: 0.2;
    }
    .chat-message a.content-link, 
    .chat-message a.inline-roll {
      background: var(--crlngn-chat-button-bg-50);
      color: var(--color-text-light-5);
      opacity: 0.8;
    }
    .chat-message .message-content,
    .chat-message .message-content > * {
      color: var(--color-text-light-2);
    }
    .chat-message.ddb-game-log-message .message-content .ddb-card-content a {
      color: var(--color-text-hyperlink);
    }
  
    /* headers */
    :is(.chat-popout, #chat-log) .chat-message .message-header .title,
    :is(.chat-popout, #chat-log) .chat-message .message-header h4.message-sender {
      color: var(--color-text-gray-blue);
      font-size: var(--font-size-16);
    }
    :is(.chat-popout, #chat-log) .message .message-header .subtitle,
    :is(.chat-popout, #chat-log) .message .flavor-text, 
    :is(.chat-popout, #chat-log) .message .user {
      color: var(--color-light-1);
    }
  
    :is(.card-tray, .effects-tray) > label::before, 
    :is(.card-tray, .effects-tray) > label::after {
      opacity: 0.35;
    }
  
    .dice-tooltip .dice-rolls .roll {
      color: var(--color-dark-1);
    }
    
    .dice-tooltip .dice-rolls .roll.discarded, 
    .dice-tooltip .dice-rolls .roll.rerolled {
      color: var(--color-dark-3);
      filter: contrast(1) opacity(0.6) invert(1);
    }
  
    .chat-message .message-content .dice-result .dice-formula, 
    .chat-message.ddb-game-log-message .dice-result .dice-formula,
    .chat-message .message-content .dice-result .dice-total, 
    .chat-message.ddb-game-log-message .dice-result .dice-total {
      border: 0;
      box-shadow: none;
      background: var(--crlngn-chat-button-bg-50);
      color: var(--color-light-1);
    }
  
    .dice-result .dice-total::before {
      border-left: 1px solid var(--color-border-dark-1);
    }
    .dice-result .dice-total.success {
      border: 1px solid var(--dnd5e-color-success);
    }
    .chat-message.ddb-game-log-message .dice-formula, 
    .chat-message.ddb-game-log-message .dice-total {
      border: 0;
    }
    .dice-result .dice-tooltip .tooltip-part {
        border-bottom: 1px solid var(--color-border-dark-1);
    }
    .chat-message .pills .pill {
      background: var(--crlngn-dark-bg);
      color: var(--color-text-gray-blue);
    }
  
    .chat-message .message-content {
      color: #cad1d6;
    }
    .chat-message.ddb-game-log-message .dice-formula, 
    .chat-message.ddb-game-log-message .dice-total {
      border: 1px solid var(--color-dark-1);
      box-shadow: none;
    }
  
    .chat-message .message-content .dice-total.success {
      border: 1px solid var(--dnd5e-color-success-background);
    }
  
    .chat-message .message-content .dice-total.miss,
    .chat-message .message-content .dice-total.failure {
      border: 1px solid var(--dnd5e-color-failure-background);
    } 
  
    .chat-message .dice-result .dice-total.success,
    .chat-message.ddb-game-log-message .dice-result .dice-total.success {
      color: var(--dnd5e-text-color-success);
    }
  
    .chat-message .dice-result .dice-total .die-icon,
    .chat-message.ddb-game-log-message .dice-result .dice-total .die-icon {
      color: var(--color-dark-1);
    }
  
    .chat-message .dice-result .dice-total.failure,
    .chat-message.ddb-game-log-message .dice-result .dice-total.failure {
      color:var(--dnd5e-text-color-failure);
    }
    
    /* bold highlights */
    .chat-card p.supplement > strong {
      color: var(--color-text-gray-blue);
    }
  
    /* description and details */
    .chat-card .description {
      background: var(--color-dark-bg-15);
      border: 0;
      padding: 0.5rem 0;
    }
  
    .crlngn.chat-card .description .details,
    .crlngn.chat-card .message-content .description .details p {
      color: var(--color-dark-4);
    }

    .chat-message .ddb-game-log-chat-card .ddb-item-name,
    .sidebar-tab .chat-message hr {
      border-color: var(--color-dark-bg-50);
    }
  
    /* effects / targets list */
  
    :is(.card-tray, .effects-tray) .target-source-control,
    .card-tray .target-source-control {
      margin: 4px 0 6px 0;
    }
  
    :is(.card-tray, .effects-tray) .target-source-control button, 
    .card-tray .target-source-control button,
    .chat-message .message-content button {
      color: var(--color-text-dark);
    }
  
    .dnd5e-theme-dark button:not(.pip):hover,
    .chat-message .message-content button:not(.unbutton):hover,
    .chat-message .message-content button:not(.unbutton):focus {
      border-color: var(--color-highlights);
      /*background: var(--color-dark-1);*/
      color: var(--color-text-gray-blue);
    }
  
    :is(.card-tray, .effects-tray) .target-source-control button:hover, 
    :is(.card-tray, .effects-tray) .target-source-control button:focus, 
    :is(.card-tray, .effects-tray) .target-source-control button[aria-pressed="true"], 
    .card-tray .target-source-control button[aria-pressed="true"],
    .chat-message .message-content button:hover {
      background: var(--color-dark-bg-75);
      border: 1px solid transparent;
      opacity: 1;
      color: var(--color-light-1);
    }
  
    .effects .effect:not(:last-child), 
    .targets .effect:not(:last-child), 
    .effects .target:not(:last-child),
    .targets .target:not(:last-child) {
      border-bottom: 1px solid var(--color-dark-1);
    } 

    :is(.chat-popout, #chat-log) .message .evaluation .target{
      color: var(--color-light-1);
      padding: 6px 8px;
    }

    :is(.chat-popout, #chat-log) .message .evaluation .target.hit,
    :is(.chat-popout, #chat-log) .message .evaluation .target.success {
      border: 0;
    }
  
    :is(.chat-popout, #chat-log) .message .evaluation .target.miss,
    :is(.chat-popout, #chat-log) .message .evaluation .target.failure {
      border: 0;
    } 
  
    /* card buttons */
    :is(.card-tray, .effects-tray) button:not(.unbutton),
    .chat-card button:not(.unbutton),
    .chat-message .message-content button:not(.unbutton) {
      background: var(--crlngn-chat-button-bg-50);
      border: 1px solid var(--color-dark-bg-50);
      color: var(--color-text-dark); 
    }
    :is(.card-tray, .effects-tray) button:hover {
      box-shadow: none;
    }

    .chat-message .chat-card > button[data-action=rollAttack],
    .chat-message .card-buttons > button[data-action=rollAttack],
    .chat-message .card-buttons > button[data-action=rollHealing],
    .chat-message .chat-card .rsr-title {
      &:before{
        color: var(--color-text-light-1);
      }
    }
    
    .dnd5e2:not(.chat-card, .create-document) button:not(.pip):focus, 
    .dnd5e2.dnd5e-theme-dark button:not(.pip):focus {
      border: 1px solid var(--color-highlights);
    }

    .dnd5e2 :is(.card-tray, .effects-tray) .targets .target .change-source > * , 
    .dnd5e2.card-tray .targets .target .change-source > * {
      filter: invert(1);
    }
  
    /* inline rolls  */ 
    :is(.dnd5e2) a:is(.content-link, .inline-roll) > i, 
    :is(.dnd5e2) :is(.roll-link, .reference-link) a > i,
    :is(.dnd5e2) :is(.roll-link-group, .reference-link) a > i,
    :is(.card-tray, .effects-tray) .roll-link a i,
    :is(.card-tray, .effects-tray) .reference-link a>i, 
    :is(.card-tray, .effects-tray) .roll-link a i, 
    :is(.card-tray, .effects-tray) .roll-link a>i, 
    :is(.card-tray, .effects-tray) a.content-link>i, 
    :is(.card-tray, .effects-tray) a.inline-roll>i, 
    /*.dnd5e2-journal .reference-link a>i, 
    .dnd5e2-journal .roll-link a>i, 
    .dnd5e2-journal a.content-link>i, 
    .dnd5e2-journal a.inline-roll>i,*/
    :is(.dnd5e2) .message a > i {
      border: none;
      text-underline-offset: 2px;
      color: var(--color-text-dark-1);
      filter: brightness(100);
    }
  
    .message-metadata {
      color: rgba(255,255,255,0.4);
      font-size: var(--font-size-10);
      font-weight: 600;
    }

    /*******
    PF2e 
    *******/
    &.system-pf2e .damage {
      --color-border-physical: rgb(255, 255, 255, 0.5);
      --color-text-dark-secondary: rgb(255, 255, 255, 0.75); 
      --color-text-physical: rgb(255, 255, 255, 0.75); 
      --color-text-acid: rgb(59, 114, 59);
      --color-text-bleed: rgb(97, 64, 70);
      --color-text-chaotic: rgb(109, 80, 109);
      --color-text-cold: rgb(79, 79, 110);
      --color-text-electricity: rgb(127, 118, 97);
      --color-text-evil: rgb(84, 71, 94);
      --color-text-fire: rgb(105, 84, 76);
      --color-text-force: rgb(107, 85, 123);
      --color-text-good: rgb(119, 109, 85);
      --color-text-lawful: rgb(77, 77, 77);
      --color-text-mental: rgb(58, 58, 76);
      --color-text-physical: rgb(186, 186, 186); 
      --color-text-poison: rgb(151, 175, 113);
      --color-text-sonic: rgb(70, 112, 112); 
      --color-text-spirit: rgb(92, 87, 128);  
      --color-text-vitality: rgb(193, 193, 141);
      --color-text-void:rgb(111, 107, 132);
      --pfe-color-success: rgb(105 177 231);
    }
    &.system-pf2e  {
      --visibility-gm-bg: rgba(255,255,255,0.1)
      --visibility-owner-bg: rgba(235,235,235,0.1)
    }
    &.system-pf2e .chat-message .flavor-text > * {
      margin: 0.5em 0;
    }

    &.system-pf2e .chat-message .message-header .tag {
      color: rgba(255,255,255,0.6);
      font-size: var(--font-size-10);
      padding: 1px 3px;
    }
    &.system-pf2e .chat-message .message-header .flavor-text .modifiers {
      margin: 1em 0;
      .tag {
        background: var(--crlngn-chat-button-bg-50);
        color: rgba(255,255,255,0.6);
      }
    }
    &.system-pf2e .chat-message .message-sender {
      font-weight: 600;
    }
    &.system-pf2e .chat-message > .message-header .flavor-text .degree-of-success .success {
      color: var(--pfe-color-success);
    }
    &.system-pf2e .chat-message i.fa-solid {
      color: rgb(255,255,255);
    }
    &.system-pf2e .chat-message .message-content {
      font-size: var(--font-size-12);
    }
    &.system-pf2e .chat-message .dice-tooltip .part-header {
      line-height: 1.5em;
      border-bottom: 1px solid var(--color-text-dark-1);
    }
    &.system-pf2e .chat-message .dice-tooltip .part-header .part-total {
      border: 1px solid var(--color-text-dark-1);
    }
    &.system-pf2e .chat-message .message-content .damage-application button.half-damage i.fa-heart-broken {
      background-image: linear-gradient(to right, var(--color-text-light-1) 50%, var(--color-text-light-6) 50%);
    }
    &.system-pf2e .chat-message .message-content .damage-application button > img {
      filter: invert(1);
    }
    &.system-pf2e .chat-message .message-content button > img {
      height: var(--font-size-16);
    }
    &.system-pf2e .message-content .dice-result .dice-formula {
      color: var(--color-text-light-2);
    }
    &.system-pf2e .chat-message .message-content button {
      font-size: var(--font-size-12);
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.15em 0;
    }
    &.system-pf2e .chat-message .message-content .damage-application button {
      font-size: var(--font-size-16);
      font-weight: 600;
      text-transform: uppercase;
      padding: 0.25em 0;
      height: auto;

      label{
        font-size: var(--font-size-14);
        font-weight: 600;
      }
    }

    &.system-pf2e .chat-message > .message-content .dice-roll .dice-tooltip {
      background: var(--color-dark-bg-50);
      border: none;
      padding: 0;
    }
    &.system-pf2e  .chat-message>.message-content .dice-roll .dice-tooltip{
      background-color: transparent;
      color: var(--color-text-light-2);
      font-size: var(--font-size-11);
    }
    &.system-pf2e .chat-message .message-content .dice-result .dice-tooltip .instance {
      border: none;
      border-width: 0;
      border-radius: 0;
      color: var(--color-text-light-2);
      > *{
        color: var(--color-text-light-2);
      }
    }
  }

}