body{
  /* vars */
  --crlngn-border-radius: 4px; /*calc(var(--control-item-size) / 6);*/
  --control-item-size: 38px; /* size of control icon buttons */
}
body.crlngn-ui  {
  -webkit-font-smoothing: antialiased;
  font-family: var(--crlngn-font-family);
  font-weight: 400;
}

/* HEADINGS */
body.crlngn-ui  {
  --color-text-selection-bg: var(--color-secondary-15);
  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
    border-bottom: 0;
  }
  h1, h2, h3 {
    font-family: var(--crlngn-font-titles);
  }
  h4, h5, h6 {
    font-family: var(--crlngn-font-family);
  }
  a.button:hover, button:hover{
    border-color: var(--color-highlights);
  }
  
  .sidebar-tab {
    h4.dice-total{
      font-weight: 600;
    }
  }
  fieldset{
    border-style: solid;
    border-width: 1px;
  }
  .dnd5e-tooltip {
    --dnd5e-color-parchment: rgb(244, 239, 237);
  }

  &.theme-light input[type=checkbox], &.theme-light input[type=radio] {
    --checkbox-checkmark-color: var(--color-light-1);
  }
  
}

/*************/
/* JOURNALS */
body.crlngn-ui  {
  .sheet.journal-entry .journal-entry-page p {
    /*font-size: var(--font-size-14);*/
  }
  .sheet.journal-entry {
    h1, h2, h3 {
      font-family: var(--dnd5e-font-modesto);
      margin: 1.5em 0 0.5em 0;
    }
    h4, h5, h6 {
      font-family: var(--dnd5e-font-roboto-slab);
      margin: 1.5em 0 0.5em 0;
    }
    .stat-block-finder{
      margin: 2em 0;
    }
  }
}

/******************
* FORMS & FIELDS
*******************/  
body.crlngn-ui{

  input[type=color]::-webkit-color-swatch-wrapper {
    padding: 1px;
  }

  .standard-form .form-group {
    margin: 6px 0;
  }

  .sidebar-tab .standard-form .form-group {
    gap: 0.25em;
  } 

  .application:not(.dnd5e2) .dialog-buttons button, 
  .combat-controls button,
  form.application .form-footer button,
  .application:not(.dnd5e2) .standard-form button {
    height: auto;
    min-height: var(--input-height);
    padding: 10px 6px;
    line-height: 125%;
    border: 1px solid var(--color-secondary-75);
    background: var(--color-bg-button);
    
    &.default {
      border: 1px solid var(--color-secondary-90);
    }
    &:hover {
      border: 1px solid var(--color-warm-3);
      background: var(--color-highlights-75);
    }
    &:focus {
      border: 1px solid var(--color-highlights-75);
      background: var(--color-highlights-75);
    }

    i {
      font-size: var(--font-size-12);
      margin-right: 3px;
    }
  }
  .application:not(.dnd5e2) .dialog-buttons button.icon, 
  .combat-controls button.icon,
  form.application .form-footer button.icon,
  .application:not(.dnd5e2) .standard-form button.icon {
    border: 1px solid transparent;
    background: transparent;
    color: inherit;

    &.default {
      border: 1px solid transparent;
      color: var(--color-highlights);
    }
    &:hover {
      border: 1px solid transparent;
      background: transparent;
      color: var(--color-highlights);
    }
    &:focus {
      border: 1px solid transparent;
      background: transparent;
      color: var(--color-highlights);
    }
  }
  

  .header-actions {
    padding-inline: 0px;
    gap: 4px;
    button {
      min-height: calc(var(--input-height) * 1.2);
      padding: 6px 4px;
      border: 1px solid var(--color-secondary-b-75);
      i {
        display: none;
      }
    }
  }

  /* SELECT */
  .code-editor-wrapper{
    min-width: 100%;
    display: block;
    background: transparent;
  }
  .code-editor-wrapper textarea{
    --color-text-selection-bg: var(--color-cool-5);
    font-family: monospace;
    white-space: pre;
    width: calc(100% - 4px);
    /*tab-size: 2;*/
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    margin: 1px;
    box-shadow: none;
    background: var(--color-input-bg);
  }
  .sidebar-tab search {
    input, select, textarea {
      background: var(--color-light-bg-25);
      font-family: var(--crlngn-font-family);
    }
    input[type=text], input[type=search]{
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      font-size: 0.9em;
    }
  }

  .sidebar-tab input[type=range],
  .package-configuration input[type=range] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    height: 10px;

    background: initial;
    border: initial;
    color: initial;
  }

  /*input[type=range]::-webkit-slider-runnable-track,*/
  .sidebar-tab input[type=range]::-webkit-slider-runnable-track,
  .package-configuration input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--color-secondary-25);
    border-radius: 10px;
    border: 0;
  }

  /*input[type=range]::-moz-range-track,*/
  .sidebar-tab input[type=range]::-moz-range-track,
  .package-configuration input[type=range]::-moz-range-track {
    height: 10px;
    background: var(--color-dark-bg-50);
    border-radius: 10px;
  }

  /*input[type=range]::-webkit-slider-thumb,*/
  .sidebar-tab input[type=range]::-webkit-slider-thumb,
  .package-configuration input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 0;
    box-shadow: -204px 0 0 200px var(--color-highlights);
    margin-top: 0;
  }

  /*input[type=range]::-moz-range-thumb,*/
  .sidebar-tab input[type=range]::-moz-range-thumb,
  .package-configuration input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid var(--color-highlights);
    box-shadow: -204px 0 0 200px var(--color-highlights);
  }

  .dnd5e2:not(.actor) button:hover:not(:disabled), .dnd5e2:not(.actor) button:focus {
    box-shadow: 0 0 4px var(--color-shadow-primary);
    border: 1px solid var(--color-highlights);
  }

  .notification.warning {
    background: var(--color-level-warning-bg);
    border: 1px solid var(--color-level-warning);
  }

  & > aside.application {
    transform: translateX(calc(var(--ui-controls-margin-left) * -1));
  }

  &.theme-dark {
    --color-text-selection-bg: var(--color-cool-5);
    #context-menu{
      background: var(--color-dark-bg);
      border: 1px solid var(--color-secondary-50);
      color: var(--color-light-1);
      .context-item{
        padding: 5px 10px;
        &:hover{
          border: 1px solid var(--color-secondary-75);
          background: var(--color-cool-4);
          color: var(--color-light-1);
        }
      }
    }
    input[type=checkbox]:disabled{
      opacity: 0.7;
      filter:saturate(0.25);
    }
    input:disabled{
      --input-text-color: rgba(50,50,50,0.7);
    }
    
    &[inline-roll-styling="true"] a.inline-roll,
    &[inline-roll-styling="true"] a.content-link {
      display: inline-block;
      padding: 1px 8px;
      background: rgba(0,0,0,0.05);
      text-decoration: none;
      border-radius: 8px;
      color: var(--color-text-dark-1);
      /*filter: brightness(0);*/
    }
    
    .journal-entry-content a.inline-roll > i,
    .journal-entry-content a.content-link > i {
      color: var(--color-text-dark-1);
      filter: brightness(0);
    }
    .standard-form.datalists .dropdown-options, .standard-form textarea  {
      background: var(--color-cool-4);
      color: var(--color-text-light-highlight);
    }
    input:disabled{
      --input-text-color: rgba(200,200,200,0.7);
    }
    
  }
  &.theme-light{
    .standard-form.datalists .dropdown-options, .standard-form textarea  {
      background: var(--color-bg-button);
      color: var(--color-dark-1);
    }
  }

  #interface.theme-dark {
    .sidebar-tab search {
      input{
        background: var(--color-input-bg);
      }
    }
  }
  #interface.theme-light {
    color: var(--color-dark-1);
  }
}

/* FORMS FOR CRLNGN UI SETTINGS */
.standard-form.crlngn {
  padding: 2em;

  h4{
    font-family: var(--crlngn-font-family);
    font-size: var(--font-size-18);
    line-height: 1.2;
    display: flex;
    align-items: center;
    margin-bottom: 0.25em;

    i{
      font-size: var(--font-size-12);
      margin-right: 5px;
    }
  }
  > .tab {
    gap: 0;

    hr {
      margin: 0.25em 0 0.5em 0;
    }
  }

  nav.tabs { 
    display: flex; 
    border-bottom: 1px solid var(--color-fieldset-border);
    margin-bottom: 10px;
    align-items: stretch;
    justify-content: stretch;
    gap: 0px;
    line-height: 1;
    color: inherit;
  }
  nav.tabs a[data-action=tab] {
    padding: 12px 8px;
    margin-right: 5px;
    border: 1px solid transparent;
    border-bottom: none;
    border-radius: 3px 3px 0 0;
    cursor: pointer;
    line-height: 1;
    align-items: center;
    justify-content: center;
    display: flex;
    color: inherit;
    width: 100%;
    flex: 1 1 100%;

    i{
      display: none;
    }
    span{
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  nav.tabs a[data-action=tab].active {
    background: var(--color-secondary-75);
    border-bottom: 0;
    margin-bottom: 0;
    border-radius: 0;
    color: var(--color-light-1);
  }

  span.toggle-hint {
    width: auto;
    border: 0;
    background-color: var(--color-dark-bg-15);
    display: inline-flex;
    margin-left: auto;
    justify-self: flex-end;
    font-size: var(--font-size-12);
    height: auto;
    padding: 5px 8px;
    border: 1px solid var(--color-dark-bg-15);
    border-radius: 4px;
    font-family: var(--crlngn-font-family);
    cursor: pointer;

    &:hover{
      border-color: var(--color-highlights);
    }
  }

  p.hint{
    display: none;
    &.shown{
      display: block;
    }
  }
  p.warn{
    background: var(--color-level-warning-bg);
    padding: 10px;
    margin: 1em 0;
  }

  .form-content{
    max-height: 70vh;
    overflow: auto;
    padding: 2px;
  }
  
  &:after{
    content: '';
    width: 100%;
    height: 110px;
    position: absolute;
    z-index: 1000;
    pointer-events: none;
    background-image: linear-gradient(var(--color-cool-5-0) 0%, var(--color-cool-5-90) 60%);
    bottom: 0px;
    left:0;
  }

  footer.form-footer{
    z-index: 1001;
  }

  .content{
    overflow: auto;
    
  }
  .form-group {
    margin: 1em 0;
    
    label {
      min-width: 50%;
      line-height: 1.5;
    }
  }
  .hint{
    line-height: 1.35;
    margin: 0.5em 0;
  }
}


.standard-form.crlngn {
  .multiple-select {
    list-style-type: none;
    display: block;
    width: 100%;
    min-width: 100%;
    height: auto;
    max-height: 160px;
    overflow: auto;
    margin: 0 0 10px 0;
    padding: 10px;
    background-color: var(--color-secondary-15);
    border: 1px solid var(--color-cool-4);
    border-radius: 6px;

    li{
      display: flex;
      align-items: center;
      border-bottom: 1px solid var(--color-dark-bg-50);
      padding-bottom: 1px;
    }
  }
  span.selected-theme{
    position: absolute;
    display: inline-flex;
    flex: 0 0 24px;
    width: 24px;
    height: 12px;
    margin-right: -1px;
    border: 1px solid var(--color-light-bg-25);
    margin-left: auto;
    z-index: 10;
    right: 14px;
    top: 10px;

    &:last-of-type{
      right: 38px;
    }
  }
  .crlngn-theme-input{
    display: flex;
    position: relative;
    
  }
  .theme-color-preview {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;

    span {
      display: flex;
      align-self: center;
    }

    span.theme-color {
      flex: 0 0 24px;
      width: 24px;
      height: 12px;
      margin-left: -1px;
      border: 1px solid var(--color-light-bg-25);
    }
    span.theme-name{
      flex: 1 1 auto;
      background: transparent;
      font-size: inherit;
    }
  }
}

.standard-form.crlngn .interface-elements{
  display: flex;
  flex-direction: column;
  ul.elements-list {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex: 1 1 100%;
    width: 100%;
    li{
      display: flex;
      flex-direction: row;
      flex: 1 1 100%;
      width: 100%;
      padding: 10px 0;
      &:hover{
        background: var(--color-secondary-50);
      }
      > *{
        flex: 1 1 16%;
        width: 16%;
        min-width: 16%;
        text-align: center;
      }
      >label:first-child{
        flex: 0 0 46%;
        width: 46%;
        min-width: 46%;
        text-align: left;
      }
    }
  }

  header.table-header{
    display: flex;
    flex-direction: row;
    flex: 1 1 100%;
    width: 100%;
    padding: 10px 0 10px 6px;
    background-color: var(--color-secondary-25);
    color: inherit;

    > label{
      flex: 1 1 16%;
      width: 16%;
      min-width: 16%;
      text-align: center;
      font-weight: 600;
      line-height: 1.1;
      
      &:hover{
        color: var(--color-light-1);
      }
    }

    > label:first-child{
      flex: 0 0 46%;
      width: 46%;
      min-width: 46%;
      text-align: left;
    }
  }
}

.standard-form.crlngn {
  .dropdown-wrapper {
    position: relative;
    width: 100%;
  }

  .dropdown-options {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: var(--color-cool-4);
    border: none;
    border-radius: 3px;
    max-height: 140px;
    margin-top: 2px;
    overflow-y: auto;
    z-index: 1000;
    display: none;
    box-shadow: 0 2px 4px var(--color-dark-bg-15);
  }

  .dropdown-options.active {
    display: block;
  }

  .dropdown-option {
    padding: 8px 12px;
    cursor: pointer;
  }

  .dropdown-option:hover, .dropdown-option.highlighted {
    background-color: var(--input-background-alt);
  }

  input[type="text"] {
    width: 100%;
    padding: 5px;
  }
}

.sidebar-tab .standard-form .form-group > label{
  line-height: 1.2;
}

body.theme-light {
  .standard-form.crlngn .dropdown-options {
    background: var(--color-bg-button);
  }
}

/*************
* DnD5e
*************/
body.crlngn-ui {
  .application.dnd5e2 .dialog-buttons button,
  .application.dnd5e2 .standard-form button {
    border: 1px solid var(--control-bg-color);
    &.default {
      border: 1px solid var(--color-highlights-75);
    }
    &:hover {
      border: 1px solid var(--color-warm-3);
      background: var( --color-bg-button);
    }
    &:focus {
      border: 1px solid var(--color-highlights-75);
      background: var( --color-bg-button);
    }
  }
  .application .tabs.vertical{
    padding: 10px 10px 6px 0;

    button {
      /*color: inherit;*/
      padding: 6px;
      border: 1px solid transparent;

      &.default {
        /*border-color: var(--color-highlights-25);*/
      }
      &:hover {
        background: var( --color-highlights-25);
      }
      &:focus {
        background: var( --color-highlights-25);
      }
    }
  }

  .dnd5e2.application .window-header {
    h1{
      margin: 6px;
      font-size: var(--font-size-20);
    }
    .window-subtitle{
      color: rgb(90, 94, 105);
      margin: 6px;
    }
  }
  .dnd5e2.sheet.actor.character .sheet-header .document-name {
    line-height: 105%;
  }
}

/**************
* GENERAL
**************/
body.crlngn-ui{

  .application hr {
    background-image: linear-gradient(90deg, var(--color-warm-2) 0%, transparent 100%);
  }

  .application .window-header .window-title {
    font-family: var(--crlngn-font-family);
  }
  
  #tooltip {
    font-family: var(--crlngn-font-family);
    font-size: var(--font-size-12);
    padding: 6px;
    box-shadow: 0 1px 6px rgba(40,40,65,0.7);
  
    > div, > p, > section, > button, > span {
      padding: 6px;
    }
  }
  
  ol#notifications {
    .notification{
      padding: 12px; 
      line-height: 125%;
  
      &.info {
        background: var(--color-secondary-90);
        border: 1px solid rgba(0,0,0);
        color: var(--color-light-1);
        text-shadow: none;
      } 
    }
  }

  #interface.crlngn-controls #scene-controls .ui-control, 
  &.crlngn-tabs #ui-right .tabs .ui-control {
    --control-size: var(--control-item-size);
    border-radius: 0;
    border: 1px solid transparent;
    font-size: 0.9em;
  }
}


/****************
PACKAGE CONFIG 
****************/
body.crlngn-ui {
  .package-configuration aside.sidebar nav.tabs .category-tab:hover,
  .package-configuration aside.sidebar nav.tabs .category-tab.active {
    text-shadow: none;
    background: var(--color-highlights-15);
  }
}

/**************************/
/* Forbidden Lands System */
body.crlngn-ui {
  --font-header-sc: var(--crlngn-font-titles);

  &.system-forbidden-lands.theme-dark{
    .chat-message .dice-roll {
      background: transparent;
      border: 0;
    }
    .chat-message .message-content .dice-formula {
      font-size: var(--font-size-14);
      text-transform: none;
      padding: 0.25em 0.1em;
    }
    .chat-message .message-content .dice-roll .dice-total {
      padding: 0.5em 0.1em;
    }
  }
  
}