body.crlngn-ui  {
  -webkit-font-smoothing: antialiased;

  h1, h2, h3, h4, h5, h6 {
    font-weight: 600;
  }
  h1, h2, h3 {
    font-family: var(--crlngn-font-titles);
  }
  h4, h5, h6 {
    font-family: var(--crlngn-font-family);
  }
  
  .sidebar-tab, #players {
    h1, h2, h3, h4, h5, h6 {
      font-weight: 500;
      letter-spacing: 0.02em;
      font-family: var(--crlngn-font-family);
    }
    h4.dice-total{
      font-weight: 600;
    }
  }

  .app#sidebar, .app.sidebar-popout {
    background: var(--left-control-main-bg);
  }
  
  #tooltip {
    font-family: var(--crlngn-font-family);
    box-shadow: 0 1px 6px rgba(40,40,65,0.7);
  }

  .application hr {
    background-image: linear-gradient(90deg, var(--color-warm-2) 0%, transparent 100%);
  }

  /*
  .app:not(.monks-scene-navigation) {
    background-color: rgba(0, 0, 0, 0.4);
  }*/

  .package-configuration .window-content {
    font-size: var(--font-size-13);
  }



  /*****
  * JOURNAL */
  .sheet.journal-entry .journal-entry-page p {
    font-size: var(--font-size-14);
  }
  /******************
  * BUTTONS
  ******************/
  .dialog-buttons button,
  .standard-form {
    button {
      border: 1px solid var(--color-dark-1);
      &.default {
        border: 2px solid var(--color-shadow-primary);
      }
    }
    .multiple-select {
      list-style-type: none;
      display: block;
      width: 100%;
      min-width: 100%;
      height: auto;
      max-height: 100px;
      overflow: auto;
      margin: 0;
      padding: 10px;
      background-color: var(--color-dark-bg-50);

      li{
        display: flex;
        align-items: center;
        border-bottom: 1px solid var(--color-dark-bg-50);
        padding-bottom: 1px;
      }
    }
  }

  /******************
  * INPUT AND RANGE
  *******************/
  span.selected-theme{
    position: absolute;
    display: inline-flex;
    flex: 0 0 24px;
    width: 24px;
    height: 12px;
    margin-right: -1px;
    border: 1px solid var(--color-light-bg-25);
    margin-left: auto;
    z-index: 10;
    right: 14px;
    top: 10px;

    &:last-of-type{
      right: 38px;
    }
  }
  .crlngn-theme-input{
    display: flex;
    position: relative;
    
  }
  .theme-color-preview {
    display: flex;
    flex-direction: row-reverse;
    align-self: center;

    span {
      display: flex;
      align-self: center;
    }

    span.theme-color {
      flex: 0 0 24px;
      width: 24px;
      height: 12px;
      margin-left: -1px;
      border: 1px solid var(--color-light-bg-25);
    }
    span.theme-name{
      flex: 1 1 auto;
      background: transparent;
      font-size: inherit;
    }
  }
  .code-editor-wrapper{
    min-width: 100%;
    display: block;
    background: transparent;
  }
  .code-editor-wrapper textarea{
    --color-text-selection-bg: var(--color-cool-5);
    font-family: monospace;
    white-space: pre;
    /*tab-size: 2;*/
    padding: 6px;
    border: 1px solid rgba(0, 0, 0, 0.5);
    /*color: var(--color-text-light-highlight);*/
    box-shadow: none;
    background: var(--color-input-bg);
  }

  .sidebar-tab .header-search input,
  .sidebar-tab select, 
  .sidebar-tab textarea,
  .sidebar-tab .chat-message.message.flexcol select,
  #chat-controls .roll-type-select,
  #chat-form textarea
   {
    font-family: var(--crlngn-font-family);
    background: var(--color-input-bg);
    border: 1px solid rgba(0, 0, 0, 0.5);
    color: var(--color-text-light-highlight);

    &::selection{
      background: var(--color-cool-4);
    }
  }

  .sidebar-tab select option, 
  #chat-controls .roll-type-select option,
  .sidebar-tab select optgroup,
  #chat-controls .roll-type-select optgroup,
  .sidebar-tab select option[disabled], 
  #chat-controls .roll-type-select[disabled] {
    font-family: var(--crlngn-font-family);
    background: initial; 
    color: initial; 
    border: initial; 
  }

  .sidebar-tab input[type=range],
  .package-configuration input[type=range] {
    -webkit-appearance: none;
    appearance: none; 
    width: 100%;
    cursor: pointer;
    outline: none;
    overflow: hidden;
    border-radius: 10px;
    height: 10px;

    background: initial;
    border: initial;
    color: initial;
  }

  /*input[type=range]::-webkit-slider-runnable-track,*/
  .sidebar-tab input[type=range]::-webkit-slider-runnable-track,
  .package-configuration input[type=range]::-webkit-slider-runnable-track {
    height: 10px;
    background: var(--color-dark-bg-50);
    border-radius: 10px;
    border: 0;
  }

  /*input[type=range]::-moz-range-track,*/
  .sidebar-tab input[type=range]::-moz-range-track,
  .package-configuration input[type=range]::-moz-range-track {
    height: 10px;
    background: var(--color-dark-bg-50);
    border-radius: 10px;
  }

  /*input[type=range]::-webkit-slider-thumb,*/
  .sidebar-tab input[type=range]::-webkit-slider-thumb,
  .package-configuration input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none; 
    height: 10px;
    width: 10px;
    background-color: var(--color-light-1);
    border-radius: 50%;
    border: 0;
    box-shadow: -204px 0 0 200px var(--color-highlights);
    margin-top: 0;
  }

  /*input[type=range]::-moz-range-thumb,*/
  .sidebar-tab input[type=range]::-moz-range-thumb,
  .package-configuration input[type=range]::-moz-range-thumb {
    height: 10px;
    width: 10px;
    background-color: var(--color-light-1);
    border-radius: 50%;
    border: 1px solid var(--color-highlights);
    box-shadow: -204px 0 0 200px var(--color-highlights);
  }

  .dnd5e2:not(.actor) button:hover:not(:disabled), .dnd5e2:not(.actor) button:focus {
    box-shadow: 0 0 4px var(--color-shadow-primary);
    border: 1px solid var(--color-highlights);
    background-color: var(--color-highlights);
    color: var(--color-light-1);
    &:before   {
      color: var(--color-light-1);
    }
  }
  
}

body.crlngn-ui{
  h1, h2 {
    border-bottom: 0;
  }
  
  h2{
    font-weight: 600;	
  }
  
  input[type="color"]::-webkit-color-swatch-wrapper {
    padding: 1px;
  }
  fieldset{
    /*border: 1px solid rgba(0,0,0,0.1);*/
  }
  
  #tooltip {
    font-size: var(--font-size-12);
    padding: 6px;
  
    > div, > p, > section, > button, > span {
      padding: 6px;
    }
  }
  
  #loading {
    padding: 5px 10px 10px 10px;
    margin: 12px auto;
    max-width: 600px;
    height: auto;
    background-color: var(--color-secondary-75);
    border: 1px solid transparent;
    box-shadow: 0 0 4px var(--color-secondary-90);
    position: relative;
    top: 80px !important;
    z-index: 1000;
  
    #loading-bar {
      background-color: rgba(240,240,240,1);
      border: 0;
      height: 2px;
      margin-top: 20px;
    }
    label#context{
      font-size: 0;
      background: transparent;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      top: -20px;
      left: 0;
  
      &:before{
        content: "Loading...";
        display: inline-block;
        color: var(--color-text-light-highlight);
        font-size: var(--font-size-12);
      }
    }
    label#progress{
      font-size: var(--font-size-12);
      color: var(--color-text-light-highlight);
      background: transparent;
      text-transform: uppercase;
      margin: 0;
      padding: 0;
      top: -20px;
    }
  }
  
  ol#notifications {
    .notification{
      padding: 8px 12px; 
  
      &.info {
        background: var(--color-secondary-90);
        border: 1px solid rgba(0,0,0);
      } 
    }
  }
}


body.crlngn-ui {

  /*******
  * FORMS
  *******/
  .standard-form.crlngn {
    h4{
      font-family: var(--crlngn-font-titles);
      font-size: var(--font-size-16);
      line-height: var(--font-size-18);
      display: flex;
      align-items: center;

      i{
        font-size: var(--font-size-12);
        margin-right: 5px;
      }
    }

    span.toggle-hint {
      width: auto;
      border: 0;
      background-color: var(--color-dark-bg-50);
      display: inline-flex;
      margin-left: auto;
      justify-self: flex-end;
      font-size: var(--font-size-12);
      height: auto;
      padding: 5px 8px;
      border: 1px solid var(--color-dark-bg-50);
      border-radius: 4px;
      font-family: var(--crlngn-font-family);
      cursor: pointer;

      &:hover{
        border-color: var(--color-highlights);
      }
    }

    p.hint{
      display: none;
      &.shown{
        display: block;
      }
    }

    .form-content{
      max-height: 70vh;
      overflow: auto;
      padding: 2px;
    }
    
    &:after{
      content: '';
      width: 100%;
      height: 110px;
      position: absolute;
      z-index: 1000;
      pointer-events: none;
      background-image: linear-gradient(var(--color-cool-5-0) 0%, var(--color-cool-5-90) 60%);
      bottom: 0px;
      left:0;
    }

    footer.form-footer{
      z-index: 1001;
    }

    .content{
      overflow: auto;
      
    }
    .form-group {
      margin: 1em 0;
      
      label {
        min-width: 50%;
        line-height: 1.5;
      }

      .hint{
        margin: 0.25em 0;
        font-size: var(--font-size-12);
      }
    }
    .hint{
      line-height: 1.4;
    }
  }

  .standard-form.datalists {
    .dropdown-wrapper {
      position: relative;
      width: 100%;
    }
  
    .dropdown-options {
      position: absolute;
      top: 100%;
      left: 0;
      right: 0;
      background: var(--color-bg-btn-minor-inactive);
      border: none;
      border-radius: 3px;
      max-height: 140px;
      margin-top: 2px;
      overflow-y: auto;
      z-index: 1000;
      display: none;
      box-shadow: 0 2px 4px rgba(0,0,0,0.15);
    }
  
    .dropdown-options.active {
      display: block;
    }
  
    .dropdown-option {
      padding: 8px 12px;
      cursor: pointer;
    }
  
    .dropdown-option:hover, .dropdown-option.highlighted {
      background-color: var(--input-background-alt);
    }
  
    input[type="text"] {
      width: 100%;
      padding: 5px;
    }
  }

  .notification.warning {
    background: var(--color-level-warning-bg);
    border: 1px solid var(--color-level-warning);
  }

  form button {
    border: 1px solid var(--color-dark-1);
  }
  .dialog .dialog-buttons button{
    border: 2px solid var(--button-border-color);
    &.default {
      border: 2px solid var(--color-border-light-highlight);
    }
  }

  & > aside.application {
    transform: translateX(calc(var(--ui-controls-margin-left) * -1));
  }

  /* Dialogs for DnD5e */
  &.theme-dark form.application footer button,
  &.theme-dark .standard-form.crlngn button {
    border: 1px solid var(--color-light-bg-25);
  }
  &.theme-dark .dnd5e2:not(.actor) button:hover, 
  &.theme-dark .dnd5e2:not(.actor) button:focus{
    box-shadow: 0 0 4px var(--color-shadow-primary);
    border: 1px solid var(--color-highlights);
    background-color: var(--color-highlights);
    color: var(--color-light-1);
  }
  &.theme-dark .dnd5e2 button:hover:disabled, 
  &.theme-dark .dnd5e2 button:focus:disabled{
    box-shadow: initial;
    border: initial;
    background-color: initial;
    color: initial;
  }

  &.theme-dark {

    input[type=checkbox]:disabled{
      opacity: 0.7;
      filter:saturate(0.25);
    }
    input:disabled{
      --input-text-color: rgba(50,50,50,0.7);
    }
    
    &[inline-roll-styling="true"] a.inline-roll,
    &[inline-roll-styling="true"] a.content-link {
      display: inline-block;
      text-decoration: none;
      color: inherit;
      background: transparent;
      font-weight: 600;
      /*filter: brightness(0);*/
    }
    
    .journal-entry-content a.inline-roll > i,
    .journal-entry-content a.content-link > i {
      color: inherit;
    }
    .standard-form.datalists .dropdown-options, .standard-form textarea  {
      background: var(--color-cool-4);
      color: var(--color-text-light-highlight);
    }
    input:disabled{
      --input-text-color: rgba(200,200,200,0.7);
    }
    
  }
}


/****************
PACKAGE CONFIG 
****************/
body.crlngn-ui {
  .package-configuration aside.sidebar nav.tabs .category-tab:hover,
  .package-configuration aside.sidebar nav.tabs .category-tab.active {
    text-shadow: none;
    background: var(--color-highlights-15);
  }
}


/* Forbidden Lands System */
body.crlngn-ui {
  --font-header-sc: var(--crlngn-font-titles);

  &.system-forbidden-lands.theme-dark{
    .chat-message .dice-roll {
      background: transparent;
      border: 0;
    }
    .chat-message .message-content .dice-formula {
      font-size: var(--font-size-14);
      text-transform: none;
      padding: 0.25em 0.1em;
    }
    .chat-message .message-content .dice-roll .dice-total {
      padding: 0.5em 0.1em;
    }
  }
  
}