body.crlngn-ui{
  --crlngn-taskbar-height: 0px;

  #quest-tracker{
    z-index: 1;
    h4{
      font-family: var(--crlngn-font-titles);
      font-size: 1.25em;
    }

    .window-content{
      font-family: var(--crlngn-font-family);

      .quest .title{
        font-size: 1rem;
      }
    }

  }

  /* Token Action HUD */
  #token-action-hud-app {
    .tah-style-foundry-vtt-dark-compact{
      --tah-button-hover-border: var(--color-highlights);
      --tah-button-hover-box-shadow: 0 2px 0 -1px var(--color-highlights), 0 0 0 1px var(--color-highlights), 0 0 8px var(--color-highlights);
    }
    .tah-style-docked-right-v13 {
      margin-top: calc(var(--control-item-size) + 10px);
    }
  }

  /* Hurry Up */
  &.crlngn-hurry-up {
    #hurry-up {
      transform: scale(0.75);
    }
  }

  /*Filepicker+ */
  #no-filepicker {
    padding: 1em 0.5em;
    width: 100%;
    text-align: left;
  }
  #filepicker .standard-form .form-group{
    margin: 0;
    padding: 0;
    gap: 0;
  }

  /* Dice Tray */
  &.crlngn-dice-tray{
    .sidebar-popout.theme-dark .dice-tray,
    #interface.theme-dark #ui-right .dice-tray {
      margin-top: 0;
      button {
        border-radius: 0;
        box-shadow: 0 0 6px inset var(--color-secondary);
        padding: 0px 4px;
        background: var(--control-bg-color);
        color: var(--color-light-1);
        border: 1px solid var(--control-bg-color);

        &:hover {
          background: var(--color-secondary);
          color: var(--color-warm-2);
          border-color: var(--color-warm-2);
          box-shadow: 0 0 6px inset var(--color-warm-2);
        }
        .dice-tray__flag{
          background-color: var(--color-warm-2);
        }

        div.dice{
          height: 80%;
          background: var(--color-light-1);
        }
      }
      input[type=text] {
        box-shadow: 0 0 6px inset rgba(255,255,255,0.35);
        background-color: var(--color-secondary-50);
        border-radius: 0;
        border: 1px solid var(--color-secondary);
        color: inherit;

        &:hover, &:focus{
          border: 1px solid var(--color-warm-2);
          box-shadow: 0 0 6px inset var(--color-warm-2);
        }
      }
      .dice-tray .dice-tray__math__buttons {
        margin-top: 0;
      }
      
    }

    .sidebar-popout:not(.theme-dark) .dice-tray,
    #interface.theme-light .dice-tray {
      margin-top: 0;

      input[type=text] {
        box-shadow: 0 0 6px inset rgba(255,255,255,0.35);
        background-color: var(--color-secondary-50);
        border-radius: 0;
        border: 1px solid var(--color-secondary);
        color: inherit;

        &:hover, &:focus{
            border: 1px solid var(--color-warm-2);
            box-shadow: 0 0 6px inset var(--color-warm-2);
        }
      }
      button{
        border-radius: 0;
        box-shadow: 0 0 6px inset var(--color-secondary-50);
        padding: 0px 4px;
        background: var(--color-bg-button);
        color: var(--color-cool-5);
        border: 1px solid var(--color-secondary);

        &:hover {
          background: var(--color-secondary);
          color: var(--color-warm-2);
          border-color: var(--color-warm-2);
          box-shadow: 0 0 6px inset var(--color-warm-2);
        }
        .dice-tray__flag{
          background-color: var(--color-warm-2);
        }
        div.dice{
          background: var(--color-cool-5);
        }
      }
    }
    #interface.theme-light .dice-tray button div.dice {
      background-color: var(--color-cool-5);
    }

    #chat-notifications.input-hidden .dice-tray{
      display: none;
    }

  }

  /* Rest and Recovery 5e */
  .rest-recovery-prompt-rest-button {
    width: 100%;
    flex: 1 1 100%;
    background: var(--color-secondary-50);
    padding: 4px 0;
    margin: 2px 0;
    justify-content: flex-start;
    height: var(--crlngn-avatar-size);
    border: 0;
    font-size: 1em;
    font-weight: 600;

    &:hover {
      background: var(--color-dark-bg-50);
    }

    &:focus {
      border: 0;
      outline: 0;
      box-shadow: none;
    }

    i {
      width: var(--crlngn-avatar-size);
      flex: 0 0 var(--crlngn-avatar-size);
      height: auto;
      margin-right: 4px;
    }
  }

  /* Combat Carousel */
  &.crlngn-combat-carousel {
    &.navigation-collapsed{
      --crlngn-top-offset: 0px;
    }
    
    /*
    #ui-middle #combat-dock {
      width: calc(100% - var(--current-sidebar-width) + 50px);
      margin-left: calc(200px - var(--combatant-portrait-size));
      min-width: max-content;
    }*/

    #ui-right #combat-dock {
      margin-left: calc(200px - var(--combatant-portrait-size));
      min-width: max-content;
    }

    #combat-dock {
      margin-top: var(--crlngn-top-offset);
      pointer-events: none;
      z-index: 0;
  
      &:hover{
        z-index: 1001;
      }
  
      > #combatants, .buttons-container {
        pointer-events: all;
      }
  
      .buttons-container {
        justify-content: flex-start;
        gap: 1px;
    
        i{
          border: none;
          border-radius: 0; 
        }
        
      }
    }

    /* CAROUSEL COMBAT TRACKER TOOLTIPS */
    #tooltip.combat-dock-tooltip {
      padding: 12px !important;
    }
    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper {
      font-family: var(--crlngn-font-family);
      font-size: var(--font-size-12);
    }
    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper h2 {
      font-family: var(--crlngn-font-titles);
      font-size: var(--font-size-20);
    }
    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper h3 {
      font-size: var(--font-size-20);
    }
    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper i {
      font-size: var(--font-size-12);
    }
    #tooltip.combat-dock-tooltip{
      padding: 0;
      border: 0;
      /*background: var(--color-dark-bg-90);*/
      box-shadow: none;
      max-width: 280px;
      margin-top: 40px;
      transform-origin: top center;
    }
    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper {
      padding: 0;
      border: 0;
      box-shadow: none;
    }
    #tooltip.combat-dock-tooltip{
      .roll-link-group a, .roll-link a, .reference-link a {
        background: var(--color-dark-bg-90);
      }
    }

    #tooltip.combat-dock-tooltip .combat-dock-tooltip-wrapper > ul {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      gap: 14px;

      > li{ 
        min-width: calc((100% - 14px) / 2);
        max-width: 100%;
        flex: 1 1 calc((100% - 14px) / 2);
        background: var(--color-dark-bg-75);
        outline: 5px solid var(--color-dark-bg-75);
        padding: 0;
        margin: 0;
        line-height: 1.35;
        
        &.effects-list {
          flex-wrap: wrap;
        }

        span{
          flex: 1 1 calc(100% - 2em);
        }
        span.tooltip-duration {
          display: flex;
          line-height: 1;
          min-width: 100%;
          padding-left: 1.8em;
          margin-top: 0.5em;
        }
        
      }
    }
    
    #tooltip.combat-dock-tooltip .effect-description {
      background: transparent;
      font-size: var(--font-size-11);
      padding: 0;
      line-height: 1.35;

      ul{
        padding: 0;

        li{
          display: block;
        }
      }
    }
    #tooltip.combat-dock-tooltip a.content-link {
      display: inline-flex;
    }
  }

  /* TheRipper93 Youtube Player widget */
  #ui-left #sidebar-video-player{
    margin: 0 16px 8px 16px;
  }
  &.crlngn-fvtt-youtube-player{
    #interface.crlngn-controls #sidebar-video-player{
      margin: 0 0 8px 0;
    }

    #sidebar-video-player{
      border-radius: 0;
  
      &.tyw-docked{
        width: calc(var(--max-players-width));
      }
  
    }
    #sidebar-video-player .inner-resize-container {
      border-radius: 0;
      box-shadow: none;
      border-top-right-radius: var(--crlngn-border-radius);
      border-bottom-right-radius: var(--crlngn-border-radius);
    }
  }
  

  /* TheRipper93 Dice Tray */
  .dice-tray-container .buttons-stacked button{
    height: 1.5em;
    width: 2.5em;
    min-height: 1.5em;
    max-height: 1.5em;
    padding: 4px;

    &[data-button=count]{
      height: 2em;
      min-height: 2em;
    }
  }

  /* CRUX */

  &.crux-taskbar-compat #crux, #crux{
    --ft-height: var(--crlngn-margin-bottom);
  }
  &.crux-taskbar-compat #crux, #crux {
    min-height: calc(100vh - var(--ft-height)) !important;
  }

  &.crlngn-crux {
    /*
    &.crux-taskbar-compat .crux__container, &.crlngn-crux.crux-taskbar-compat .crux__empty-tray {
      height: calc(100vh - var(--ft-bottom)) !important;
    }
    #crux {
      height: calc(100vh - var(--ft-bottom)) !important;
    }*/
    &.crux-taskbar-compat #crux, #crux {
      .crux__container {
        border-right: 1px solid rgba(0,0,0,0.75);
        background-color: rgba(0,0,0,0.8);

        h1{
          font-family: var(--crlngn-font-titles) !important;
          line-height: 1.15;
        }
      }

      .crux__top-section{
        padding: 0;
      }
      h2.crux__section-header{
        font-family: var(--crlngn-font-titles) !important;
        border: 0 !important;
        border-radius: 0 !important;
        padding-top: 2px !important;
        padding-bottom: 2px !important;

        &:after {
          content: "Width: " var(--crux-width) " | Ratio: " var(--crux-width-ratio) " | Multiplier: " var(--header-multiplier);
          display: inline-block;
        }
      }
      .crux__skill-header{
        font-family: var(--crlngn-font-titles) !important;
      }

      .crux__group-header {
        h3, h2 {
          border-bottom: 1px solid rgba(255,255,255,0.15) !important;
          font-family: var(--crlngn-font-titles) !important;
          padding-bottom: 0.25em;

        }
      }

      .crux__item {
        padding: 0 4px !important;
      }
      .crux__item .item-name h4 {
        font-family: var(--crlngn-font-family) !important;
        font-weight: 500 !important;
      }
      .crux__item .item-name h3,
      .crux__group-header h3 {
        font-family: var(--crlngn-font-family) !important;
        font-weight: 500 !important;
      }

      .crux__utility-button,
      .crux__action-button,
      .crux__end-turn-button {
        font-family: var(--crlngn-font-family) !important;
        padding: 4px !important;
        border: none !important;
      }

      .crux__utility-button,
      .crux__action-button,
      .crux__action-button img {
        border: none !important;
      }

      .crux__actor .group-dots .dot {
        width: 8px !important;
        height: 8px !important;
        margin-left: 2px !important;
      }

      .crux__item .flag {
        margin-left: 2px !important;
        filter: saturate(0.7) !important;
        transform: scale(0.9) !important;
      }
    }
  }

  /* Taskbar */
  #taskbar #hotbar {
    #hotbar-collapse-btn{
      height: 100%;

      &:before {
        transform: rotate(-90deg);
      }
    }

    button.hotbar-page-control::before {
      transform: scaleY(0.65);
    }
    button.hotbar-page-control.page-prev::before {
      transform: scaleY(-0.65);
    }
  }
  
  #taskbar #hotbar.collapsed {
    > *:not(#hotbar-controls-right){
      display: none;
    }

    #hotbar-controls-right{
      > *{ 
        display: none; 
      }

      #hotbar-collapse-btn{
        display: flex;
      }
    }
    
  }

  /* BG3 Inspired Hotbar */
  &.crlngn-bg3-inspired-hotbar {
    --bg3-hotbar-drag-color: var(--color-warm-2);
    --bg3-hotbar-drag-color-hover: var(--color-warm-1);

    #bg3-hotbar-container .menu-item-content .menu-item-label i {
      color: var(--color-warm-1);
    }
  }
  
}