body.crlngn-ui {
  --max-players-width: 200px;

  #players {
    gap: 0;

    #players-active .players-list{
      padding-bottom: 8px;
      margin-bottom: 6px;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
      gap: 0;

      li{
        margin-bottom: 0;
      }
    }

    #performance-stats button,
    #performance-stats button:focus,
    #performance-stats button:hover {
      border: 0;
    }

    #players-active, #players-inactive{
      padding: 10px 12px;
      border-radius: 0;
      border-top-right-radius: var(--crlngn-border-radius);
      gap: 0;

      .player::before {
        width: 0.6rem;
        height: 0.6rem;
        margin-right: 4px;
        background: var(--player-color, rgba(255,255,255,0.5));
        border: 1px solid rgba(255,255,255,0.25);
        border-radius: 2px;
      }
    }

    #performance-stats {
      font-family: var(--crlngn-font-family);
    }
    
    #players-active{
      transition: border-top-right-radius 0.1s ease-out 0.5s;
      
    }
    #players-inactive{
      border-bottom: 1px solid var(--color-dark-bg-75);
      background: var(--color-secondary-90);
    }

    &.expanded {
      #players-active{
        border-radius: 0;
        border-top-right-radius: 0;
        transition: border-top-right-radius 0.1s ease-out 0s;
      }
    }
    #performance-stats{
      visibility: visible;
    }

    &.expanded {
      #players-active, #players-inactive {
        max-width: var(--control-item-size);
        overflow-x: hidden;
      }

      li {
        flex-wrap: nowrap;
        flex: 0 0 auto;
        width: auto;
      }

      .player:before{
        flex: 0 0 .6rem;
        margin-right: 0;
      }

      #performance-stats{
        display: none;
        visibility: hidden;
      }
    }
  }
  
}