body.crlngn-ui {
  --max-players-width: 230px;
  --crlngn-avatar-size: calc(var(--control-item-size) - 10px); 

  #players {
    gap: 0;

    #players-active .players-list{
      padding-bottom: 0;
      margin-bottom: 4px;
      /* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */

      li {
        margin-bottom: 0;
      }

    }

    #performance-stats {
      padding: 6px 12px 10px 4px;
    }

    #performance-stats button:focus,
    #performance-stats button:hover,
    #performance-stats button:active {
      border: 0;
      outline: 0;
      box-shadow: none;
    }

    #players-active, #players-inactive{
      width: var(--max-players-width);
      padding: 10px;
      border-radius: 0;
      border-top-right-radius: var(--crlngn-border-radius);
      gap: 0;

      .player::before {
        width: 0.6rem;
        height: 0.6rem;
        margin-right: 4px;
        background: var(--player-color, rgba(255,255,255,0.5));
        border: 1px solid rgba(255,255,255,0.25);
        border-radius: 2px;
      }
    }

    #performance-stats {
      font-family: var(--crlngn-font-family);
    }
    
    #players-active{
      transition: border-top-right-radius 0.1s ease-out 0.5s;
      
    }
    #players-inactive{
      border-bottom: 1px solid var(--color-dark-bg-75);
      background: var(--color-secondary-75);
    }

    &.expanded {
      #players-active{
        border-radius: 0;
        border-top-right-radius: 0;
        transition: border-top-right-radius 0.1s ease-out 0s;
      }
    }

    &.minimized {
      pointer-events: all;
      #players-active, #players-inactive {
        width: var(--control-item-size);
        max-width: var(--control-item-size);
        padding: 8px 4px 0 4px;
        overflow: hidden;
      }

      &:hover{
        #players-active, #players-inactive {
          width: var(--max-players-width, 200px);
          max-width: var(--max-players-width, 200px);
        }
      }
      

      li {
        flex-wrap: nowrap;
        flex: 0 0 auto;
        width: auto;
        overflow: hidden;
      }

      .player:before{
        flex: 0 0 .6rem;
        margin-right: 0;
      }
      
      #performance-stats{
        padding: 6px 0 10px 0;
        #latency, #fps {
          display: none;
        }
      }

      #players-active:hover  #performance-stats{
        padding: 6px 12px 10px 4px;
        #latency, #fps {
          display: block;
        }
        #players-expand {
          width: var(--crlngn-avatar-size);
          flex: 0 0 var(--crlngn-avatar-size);
          display: inline-flex;
          align-items: center;
        }
      }

      li{
        > span {
          margin-left: 5px;
        }
        &:before {
          --color-margin: calc((var(--crlngn-avatar-size) - 10px) / 2);
          margin: 0 var(--color-margin);
        }
      }
      
    }

    .rest-recovery-prompt-rest-button {
      width: 100%;
      flex: 1 1 100%;
      background: var(--color-secondary-50);
      padding: 4px 0;
      margin: 2px 0;
      justify-content: flex-start;
      height: var(--crlngn-avatar-size);
      border: 0;
      font-size: 1em;
      font-weight: 600;

      &:hover {
        background: var(--color-dark-bg-50);
      }

      &:focus {
        border: 0;
        outline: 0;
        box-shadow: none;
      }

      i {
        width: var(--crlngn-avatar-size);
        flex: 0 0 var(--crlngn-avatar-size);
        height: auto;
        margin-right: 4px;
      }
    }
    

    &.crlngn-avatars{

      #players-active, #players-inactive{
        padding: 6px;
      }

      li {
        border-bottom: 1px solid rgba(255, 255, 255, 0.075);

        > img.avatar {
          width: var(--crlngn-avatar-size);
          height: var(--crlngn-avatar-size);
          object-fit: cover;
          overflow: hidden;
          border-bottom: 2px solid var(--player-color);
          border-radius: 0;
          background-color: rgba(255,255,255,0.15);
          flex: 0 0 var(--crlngn-avatar-size);
          padding: 0;
          margin-right: 4px;
          margin-bottom: -1px;
          z-index: 1;
        }
  
        &:before {
          display: none;
        }
      }

      #players-inactive img.avatar{
        filter: saturate(0.2);
      }

      &.minimized {
        #players-active, #players-inactive{
          padding: 8px 4px 0 4px;
        }

        /* Rest Recovery 5e */
        .rest-recovery-prompt-rest-button {
          background: transparent;
          min-width: 180px;
          width: 100%;
          &:hover{
            background: var(--color-dark-bg-50);
          }
        }
      }
    }
    

  }
  
}