/**************************/
/* DnD5e sheets */
/**************************/
body.crlngn-ui {
  &.crlngn-sheets {
    --dnd5e-border-gold: none;

    .dnd5e2.actor .meter{
      border: 1px solid transparent;
    }
    .dnd5e2.actor fieldset {
      border: 1px solid transparent;
    }

    .dnd5e2.sheet.actor.character .tab[data-tab="spells"] .top .card.spellcasting {
      width: 300px;
    }
    .dnd5e2.sheet.actor.character .sheet-header{
      padding-bottom: 32px;
    }
    &:not(.theme-dark) {
      .dnd5e2.sheet.actor.character .sheet-header{
        position: relative;
        background: transparent;
      }
      .dnd5e2.sheet.actor.character .window-content .sheet-header:before{
        content: '';
        background: transparent url(/systems/dnd5e/ui/official/banner-character.jpg) no-repeat center / cover;
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: -2;
        border-radius: 5px 5px 0 0;
        filter: grayscale(1) contrast(1) brightness(3);
      }
      .dnd5e2.sheet.actor.character .window-content .sheet-header:after{
        content: '';
        position: absolute;
        background: var(--color-highlights);
        display: block;
        width: 100%;
        height: 100%;
        z-index: -1;
        mix-blend-mode: multiply;
        border-radius: 5px 5px 0 0;
      }
      /*
      .dnd5e2.sheet.actor.character .window-content > * {
        z-index: 2;
      }*/
    }
    &:is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.character .window-content::before,
    .dnd5e2.sheet.actor.character.dnd5e-theme-dark .window-content::before {
      filter: grayscale(1) contrast(1) brightness(3);
      z-index: -2;
      pointer-events: none;
      border-radius: 5px 5px 0 0;
    }
    &:is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.character .window-content:after{
      content: '';
      position: absolute;
      background: linear-gradient(to bottom, var(--color-highlights), var(--color-highlights-15));
      display: block;
      width: 100%;
      height: 100%;
      z-index: -1;
      mix-blend-mode: multiply;
      border-radius: 6px;
      pointer-events: none;
    }
    &:is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor .card .header, .dnd5e2.dnd5e-theme-dark.sheet.actor .card .header {
      background: linear-gradient(to right, var(--color-warm-2), var(--color-warm-3));
    }
    &:not(.theme-dark) .dnd5e2.sheet.actor .card .header, .dnd5e2.dnd5e-theme-light.sheet.actor .card .header {
      background: linear-gradient(to right, var(--color-warm-2), var(--color-warm-3));
    }

    /* sheet tabs */
    .dnd5e2.sheet.actor > *,
    .dnd5e2.sheet.actor.character .sheet-body{
      order: 2;
    }

    .dnd5e2.sheet.actor.character .ability-scores {
      z-index: 2;

      .ability-score {
        font-weight: 600;
        padding-top: 6px;
        .label {
          font-size: var(--font-size-14);
        }
        .score {
          font-size: var(--font-size-16);
          line-height: 1.15;
        }
        .mod{
          padding: 3px 0 8px 0;
        }
      }
      /*
      .rows {
        padding: 60px 0 76px 24px;
      }*/
    }

    &.crlngn-sheet-tabs {
      .dnd5e2.sheet.actor.character{
        --dnd5e-sheet-header-height: 192px;
      }
      .dnd5e2.vertical-tabs nav.tabs {
        --tab-full-width: auto;
        --tab-inactive-width: auto;
        flex-direction: row;
        gap: 16px;
        left: 0;
        padding: 5px 3rem;
        position: absolute;
        top: 150px;
        width: 100%;
        justify-content: flex-start;
        overflow: scroll;
        z-index: 10;
        background-color: var(--color-dark-bg-25);
        font-size: var(--font-size-14);
        /* deal with scrollbar */
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
        &::-webkit-scrollbar {
          display: none;
        }

        .tabs-right{
          flex-direction: row;
        }
        > a.item{
          align-items: center;
          background: transparent;
          border: none;
          border-bottom: 1px solid transparent;
          border-radius: 0;
          display: block;
          flex: 0 0 auto;
          padding: 6px 0;
          gap: 3px;
          line-height: 1.25;
          width: auto;
          height: auto;
          box-shadow: none;
          font-weight: 500;
          filter: brightness(3);
          opacity: 0.8;

          &:hover, &.active{
            box-shadow: none;
            opacity: 1;
          }
          &.active{
            filter: none;
            opacity: 1;
          }
        }
        > a.item i {
          display: inline-flex;
          position: relative;
          line-height: 1.1;
          margin: 0 3px 0 0;
          font-size: var(--font-size-11);
        }
        > a.item dnd5e-icon {
          transform: scale(0.75);
        }
        > a.item::after {
          content: attr(data-label);
          display: inline-flex;
          font-size: var(--font-size-13);
          border-radius: 0;
          border: none;
          width: auto;
          height: auto;
          position: relative;
          line-height: 1.1;
          inset: 0;
          margin-left: 4px;
        }
      }

      .dnd5e2.sheet.actor.character.tab-details .tab-body {
        padding-top: 106px;
      }

      .dnd5e2.sheet.actor.character .ability-scores {
        z-index: 10;
        transition: opacity 0.15s ease-out, left 0.35s ease-out 0.1s;
  
        &.fadeout{
          opacity: 0;
          pointer-events: none;
        }
  
        .rows {
          padding: 150px 0 0 30px;
          flex-direction: column;
          align-items: flex-start;
          gap: 0;
          .top {
            min-height: 72px;
            order: 0;
          }
        }
      }
  
      @container (min-width: 700px) {
        .dnd5e2.sheet.actor.character .ability-scores.optional-ability-0 .rows .top {
          min-height: 72px;
          order: 0;
        }
      }

      &.theme-light {
        .dnd5e2.vertical-tabs nav.tabs {
          background-color: var(--dnd5e-sheet-bg);
          box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  
          > a.item {
            filter: brightness(0.5);
  
            &.active{
              filter: brightness(0);
              border-bottom: 1px solid var(--dnd5e-color-gold);
            }
          }
        }
      } 
    } 

    .dnd5e2.sheet.actor:not(.minimized) .window-header {
      margin-top: -1px;
      z-index: 10;
    }
    .dnd5e2.sheet.actor.character section.window-content {
      order: 2;
      z-index: 1;
    }
    .dnd5e2 .items-section .items-header .item-image, 
    .dnd5e2 .items-section .item .item-image,
    .dnd5e2.sheet.actor .classes.pills-lg .class .icons img {
      border: 0;
      box-shadow: none;
    } 
    .dnd5e2 .gold-icon {
      border: 1px solid rgba(0, 0, 0, 0.2);
    }

    .dnd5e2 .gold-button::after, .dnd5e2.standard-form button.gold-button::after {
      inset: 1px;
    }
    
    
    .dnd5e2.sheet.actor .window-resizable-handle {
      z-index: 10;
    }
    .dnd5e2.sheet:is(.item, .actor) form:is(.tab-inventory, .tab-features, .tab-spells, .tab-effects, .tab-advancement, .tab-activities) .create-child, 
    .dnd5e2.sheet:is(.item, .actor):is(.tab-inventory, .tab-features, .tab-spells, .tab-effects, .tab-advancement, .tab-activities) .create-child {
      order: 4;
      z-index: 10;
    }
    .dnd5e2.sheet.actor.character .sheet-body .main-content{
      padding: 2em 8px;
    }
    .dnd5e2.sheet.actor.character .ability-scores .ability-score::before {
      background: var(--dnd5e-sheet-bg);
      border-radius: 5px;
    }
    .dnd5e2.sheet.actor.character .ability-scores .ability-score .score {
      background: var(--dnd5e-color-gold);
      color: var(--color-light-1);
    }
    &:not(.theme-dark) {
      .dnd5e2.sheet.actor.character .sheet-body .sidebar .card,
      .dnd5e2.sheet.actor.character .sheet-body .sidebar .card .card-tab.collapser,
      .dnd5e2.sheet.actor.character .sheet-body .sidebar .card .card-tab,
      .dnd5e2.sheet.actor.character .sheet-body .sidebar .card .death-tray .death-saves {
        background: var(--dnd5e-sheet-bg);
        box-shadow: 0px 1px 4px var(--dnd5e-shadow-15, rgba(0,0,0,0.15));
      }

      .dnd5e2.sheet.actor.character .pips .pip, .dnd5e2.sheet.actor.character .standard-form .pips .pip,
      .dnd5e2.sheet.actor.character .sheet-body .sidebar .card .death-tray .death-saves .pip {
        background: #fff;
        &.filled {
          background: var(--dnd5e-color-gold);
        }
      }
    }

    /* NPC */
    .dnd5e2.sheet:is(.item, .actor) > header,
    .dnd5e2.sheet.actor.npc .window-content > * {
      z-index: 2
    }
    &:is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.npc .window-content::before, 
    &:not(.theme-dark) .dnd5e2.sheet.actor.npc .window-content::before, 
    .dnd5e2.sheet.actor.npc .window-content::before,
    :is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.npc .window-content::before {
      content: "";
      position: absolute;
      inset: 0 0 auto 0;
      height: 300px;
      border-radius: 5px 5px 0 0;
      opacity: 0.2;
      background: url(/systems/dnd5e/ui/official/banner-npc-dark.webp) no-repeat top center / cover;
      mask-image: linear-gradient(to bottom, black, transparent);
      z-index: 0;
      pointer-events: none;
    }

    &:is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.npc .window-content::after, 
    &:not(.theme-dark) .dnd5e2.sheet.actor.npc .window-content::after, 
    .dnd5e2.sheet.actor.npc .window-content::after,
    :is(.dnd5e-theme-dark, .theme-dark) .dnd5e2.sheet.actor.npc .window-content:after{
      content: "";
      border-radius: 5px 5px 0 0;
      background: linear-gradient(to bottom, var(--color-highlights) 0%, transparent 340px);
      mix-blend-mode: multiply;
      pointer-events: none;
      z-index: 1;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
    }

    .dnd5e2.sheet.actor.npc .sheet-header .portrait > img {
      border: 4px solid var(--dnd5e-color-groove);
    }
    .dnd5e2.sheet.actor.npc .sheet-header {
      min-height: 270px;
    }

    .dnd5e2.sheet.actor.npc .sheet-body {
      order: 2;
      margin-top: 1em;
    }
    .dnd5e2.sheet.actor.npc .sheet-header .top, 
    .dnd5e2.sheet.actor.npc form.editable .sheet-header .labels,
    .dnd5e2.sheet.actor.npc .sheet-header input,
    .dnd5e2.sheet.actor.npc form.editable .sheet-header > .left label.slide-toggle {
      color: var(--color-light-1);
    }
    .dnd5e2.sheet.actor.npc .sheet-body .main-content{
      --sidebar-padding: 16px;
    }
    .dnd5e2.sheet.actor.npc .sheet-body .main-content .sidebar {
      gap: 1.6em;
      line-height: 1.4;

      .pills-group h3 {
        font-family: var(--crlngn-font-titles);
        font-size: var(--font-size-13);
        color: inherit;
      }
    }


    .dnd5e2.sheet.actor .pills-group .pill {
      font-weight: 500;
      font-size: var(--font-size-12);
      text-transform: none;
      border: 1px solid transparent;
    }
    .dnd5e2.sheet.actor.npc .sheet-header .legendary :is(.legact, .legres) .pip {
      --pip-size: 20px;
    }
    .dnd5e2.sheet.actor.npc .window-header > *,
    .dnd5e2.sheet.actor.npc .sheet-header .legendary > label > span.label, 
    .dnd5e2.sheet.actor.npc .sheet-header .legendary > div > span.label,
    .dnd5e2.sheet.actor.npc.editable .sheet-header .labels, 
    .dnd5e2.sheet.actor.npc.editable .sheet-header > .left {
      color: inherit;
    }
    .dnd5e2 .standard-form :is(select, input):not([type="range"]), 
    .dnd5e2.standard-form :is(select, input):not([type="range"]) {
      --input-text-color: inherit;
    }
    .dnd5e2.sheet.actor.npc > header slide-toggle {
      --slide-toggle-track-color-unchecked: var(--color-dark-bg-50);
    }


    &.crlngn-sheet-tabs {
      .dnd5e2.vertical-tabs.sheet.actor.npc nav.tabs {
        margin-top: 120px;
        padding-left: 16px;
        z-index: 10;
      }
      .dnd5e2.sheet.actor.character .sheet-body .main-content {
        padding-top: 30px;
      }
      .dnd5e2.sheet.actor.character .tab-details .tab-body {
        padding-top: 110px;
      }
      .dnd5e2.sheet.actor.npc .sheet-body .main-content .inventory-element .bottom {
        bottom: 20px;
      }
      .dnd5e2.sheet.actor.npc .sheet-body .main-content{
        margin-top: 50px;
      }
    }
    
  }

  :is(.dnd5e2-tooltip, .item-tooltip, .effect-tooltip) .description {
    p span{
      font-size: var(--font-size-12) !important;
      font-weight: 400;
      font-family: var(--crlngn-font-family);
    }
  }
  
}