#interface #ui-middle.crlngn-ui #ui-bottom {
  margin: 0;
  z-index: 999;
  position: absolute;
  bottom: 0;
}

/***************************************/
/* HOTBAR - non-breaking style changes */
/***************************************/
:root{
  --macro-size: 50px;
  --hotbar-height: var(--macro-size);
  --hotbar-width: calc((var(--macro-size)*11) + 64px);
}

body.crlngn-ui{
  --macro-bar-left: calc(var(--max-players-width) - (var(--left-control-item-size) * 2));

  &:has(#players.auto-hide){
    --macro-bar-left: calc(-1 * var(--left-control-item-size));
  }

  #hotbar {
    margin-bottom: 0;
    margin-left: var(--macro-bar-left);
  
    .bar-controls, 
    .macro,
    #macro-list,
    #hotbar-page .macro-list, #hotbar-page .action-bar /* Monk's Hotbar Expansion */
    {
      border-radius: 0;
      margin: 0;
    }
  
    #macro-list, 
    #hotbar-page .macro-list /* Monk's Hotbar Expansion */
    {
      border: 0;
    }
  
    .bar-controls {
      height: auto;
    }
  
    #context-menu{
      font-size: var(--font-size-12);
      padding: 6px;
  
      li{
        line-height: 2.25;
      }
    }
  
    &:not(.foundry-default) {
      --macro-size: 42px;
      --hotbar-height: var(--macro-size);
  
      .bar-controls {
        min-height: var(--macro-size);
        justify-content: center;
        background: rgba(0,0,0,0.75);
      }
  
      #hotbar-page {
        max-height: calc(15px + (var(--macro-size) * 5) );
        bottom: calc(5px + var(--macro-size));
  
        .hotbar-page-row{
          margin-top: 3px;
        }
      }
      #macro-list, #action-bar,
      #hotbar-page .macro-list, #hotbar-page .action-bar, #hotbar-page span.page-number, #hotbar-page .bar-controls i /* Monk's Hotbar Expansion */
      {
        height: auto;
        min-height: 100%;
        line-height: 1;
        align-content: center;
        flex: 0 0 auto;
        font-weight: 600;
      }
  
      @media (max-width: 1120px) {
        --hotbar-height: var(--macro-size);
        #macro-list, #hotbar-page .macro-list {
            grid-template-columns: repeat(5, var(--macro-size));
        }
        #hotbar-page {
          max-height: calc(15px + var(--macro-size) * 2 * 5 );
          bottom: calc(5px + (var(--macro-size) * 2));
        }
      }
  
      #macro-directory i, #hotbar-directory-controls a{
        font-size: var(--font-size-12);
        line-height: var(--font-size-12);
      }
  
      #hotbar-page-controls{
        flex-wrap: wrap;
        min-width: var(--macro-size);
        max-width: var(--macro-size);
  
        a.page-control {
          flex: 0 1 50%;
          font-size: var(--font-size-13);
          padding: 0;
          min-height: 50%;
          align-content: center;
          width: 50%;
  
          &:hover{
            background: rgba(0,0,0,0.5);
          }
        }
        span.page-number {
          flex: 0 1 50%;
          font-size: var(--font-size-15);
          vertical-align: middle;
          line-height: 1;
          font-weight: 600;
          order: 1;
          width: calc(var(--macro-size) / 2);
          box-sizing: border-box;
          height: 100%;
          min-height: 100%;
          align-content: center;
          background: rgba(0,0,0,0.25);
          cursor: pointer;
        }
      }
  
      .macro {
        border-radius: 0;
        
        .macro-key{
          font-size: var(--font-size-16); 
          text-shadow: 2px 0 #000, -2px 0 #000, 0 2px #000, 0 -2px #000,
                   1px 1px #000, -1px -1px #000, 1px -1px #000, -1px 1px #000;
          background: rgba(0,0,0,0.4);
          width: 100%;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          left: 0;
          right: 0;
          top: 0;
          margin: 0;
          padding: 0;
        }
        &.inactive .macro-key {
          opacity: 0.6;
          background: transparent;
        }
      
        &.inactive:hover .macro-key{
          opacity: 0.4;
        }
        &.active:hover .macro-key{
          background: transparent;
        }
      
      }
    }
  
  }

  #ui-bottom {
    width: 100%;

    #fps {
      border: 0;
      border-radius: 0;
      padding: 0;
      margin: 0;
      opacity: 0.6;
      transform: scale(0.75);
      transform-origin: bottom right;
      transition: opacity, transform 0.2s ease-out;
      pointer-events: all;

      &:hover {
        opacity: 1;
        transform: scale(1);
      }
    }

    
  }
}
