/*
:root{
  --left-control-item-size: 36px;
  --left-control-main-bg: rgba(20, 20, 20, 0.85); 
  --color-secondary-75: rgba(50, 50, 70, 0.75);
  --ui-top-padding: 0px;
}
*/

/* -----------------
  LEFT CONTROLS BAR
----------------- */
body.crlngn-ui{  
  --left-control-item-size: 36px;
  --left-control-main-bg: rgba(20, 20, 20, 0.85); 
  --color-secondary-75: rgba(50, 50, 70, 0.75);
  --ui-top-padding: 0px;
  --crlngn-top-offset: 0px;
  --icon-font-size: var(--font-size-14);

  &.logo-visible{

    #interface #ui-left #logo.visible{
      height: 72px;
      margin-top: var(--top-nav-height, 0px);
    }
  }

  #interface #ui-left{
    display: flex;
    flex-direction: column;
    position: relative;
    justify-content: flex-end;
    z-index: 1;
    min-width: var(--max-players-width, 200px);
    margin-top: 1px;

    &:hover{
      z-index: 100; 
    }
  }

  #interface #ui-left{
    #logo {
      width: auto;
      height: 0;
      max-width: 72px;
      margin: 0;
      margin-bottom: auto;
      object-fit: contain;

      &.visible{
        height: 72px;
      }
    }
  
    .dnd5e2#bastion-turn{
      background: var(--left-control-main-bg);
      border: 1px solid transparent;
      border-radius: 0;
      position: relative;
      display: flex;
      white-space: nowrap;
      width: var(--left-control-item-size);
      height: var(--left-control-item-size);
      padding: 0;
      margin: 0;
      overflow: hidden;
      text-align: left;
      border-bottom: 1px solid var(--color-secondary-75);
      flex: 0 0 var(--left-control-item-size);
      margin-bottom: var(--crlngn-taskbar-height, 0px) !important;
  
      > * {
        flex: 0 0 auto;
      }
  
      >i{
        display: inline-block;
        line-height: calc(var(--left-control-item-size));
        width: 100%;
        height: 100%;
        vertical-align: middle;
        text-align: center;
        margin: 0;
      }
      >span{
        display: inline-block;
        white-space: nowrap;
        background: transparent;
        font-size: var(--font-size-12); 
        font-weight: 600;
        min-width: calc(var(--max-players-width, 200px) - var(--left-control-item-size));
        height: var(--left-control-item-size);
        background: var(--left-control-main-bg);
        padding: 0 6px 0 0;
        margin: -1px 0 0 0;
        border: 1px solid transparent;
        border-bottom: 1px solid var(--color-secondary-75);
        color: var(--color-text-light-1);
        line-height: calc(var(--left-control-item-size));
      }
  
      &:hover{
        width: max-content;
        padding: 0;
        gap: 0;
        /*max-width: max-content;*/
        max-width: var(--left-control-item-size);
        overflow: visible; 
      }
    }
    
  }

  #ui-left #controls {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
    height: 100%;/*max-content;*/
    flex-wrap: nowrap;
    width: auto;
    min-width: calc(var(--left-control-item-size) * 2.15);
    padding: 0;
    overflow: visible;
    justify-items: flex-start;
    pointer-events: none;
    margin: 0 0 auto 0; 
    position: absolute;
    top: var(--ui-top-padding);
    max-height: calc(100% - var(--ui-top-padding) - (var(--controls-bottom-buffer)));
    min-height: calc(var(--left-control-item-size) * 6);
  
    .control-tools{
      pointer-events: all;
    }

    > *{
      flex: 0 0 auto;
  
      &#touch-vtt-controls {
        height: var(--left-control-item-size);
  
        button#touch-vtt-togglepause {
          width: var(--left-control-item-size);
          height: 30px;
          background: var(--left-control-main-bg);
          border: 1px solid transparent;
          border-radius: 0;
          color: #fff;
          font-size: var(--font-size-12);
          display: flex;
          align-items: center;
          justify-content: center;
          margin: 0;
          padding: 0;
          box-sizing: border-box;
        }
      }
    }
  
    ol.control-tools.main-controls{
      margin-right: 0;
      flex-wrap: wrap;
      max-height: 100%;

      height: auto;
      align-self: flex-start;
      border-radius: 0;
    }
  
    ol:not(.main-controls) {
      max-height: 100%;
    }
  }
  
  #ui-left.auto-hide nav#controls > ol:not(.main-controls) {
    opacity: 0;
    display: none;
    visibility: hidden;
    height: max-content;
    min-height: 50%;
  }
  
  #ui-left.auto-hide nav#controls:hover,
  #ui-left.auto-hide nav#controls:active,
  #ui-left.auto-hide nav#controls:focus-within
  {
    max-width: auto;
    ol:not(.main-controls).active {
      opacity: 1;
      display: flex;
      visibility: visible;
    }
  }
  
  #ui-left #controls ol.control-tools > li {
    width: var(--left-control-item-size);
    height: var(--left-control-item-size);
    border-radius: 0;
    margin: 0;
    font-size: var(--icon-font-size);
    box-shadow: none;
    background: var(--left-control-main-bg);
    border: 1px solid transparent; 
    z-index: 0;
    box-sizing: border-box;
    line-height: 1.5;
  
    *{
      pointer-events: all;
    }
  
    &:hover{
      border: 1px solid var(--color-shadow-highlight);
      background: rgba(0, 0, 0, 1);
      z-index: 1;
    }
  
    &.active{
      border: 1px solid var(--color-border-highlight);
      background: rgba(0, 0, 0, 1);
      z-index: 1;
    } 
  }
  
  #ui-left #controls ol.sub-controls > li {
    width: var(--left-control-item-size);
    height: var(--left-control-item-size);
    border-radius: 0;
    margin: 0;
    font-size: var(--icon-font-size);
    box-shadow: none;
    background: var(--color-secondary-75);
    border: 1px solid transparent;
    z-index: 1;
    box-sizing: border-box;
    z-index: 0;
  
    &:hover{
      border: 1px solid transparent;
      background: var(--color-secondary-75);
      border: 1px solid var(--color-secondary-bright);
    }

    &.active{
      background: var(--color-secondary-90);
      border: 1px solid var(--color-secondary-bright);
      &:hover{
        background: var(--color-secondary-90);
        border: 1px solid var(--color-secondary-bright);
      }
    }

    &.toggle{
      /*background: var(--color-secondary-75);*/
      background: repeating-linear-gradient( -45deg, var(--color-secondary-b-75) 0px, var(--color-secondary-b-75) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
      border: 1px solid var(--color-secondary-50);

      &.active{
        background: repeating-linear-gradient( -45deg, var(--color-secondary-b-90) 0px, var(--color-secondary-b-90) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
        border: 1px dashed var(--color-secondary-bright);
      }
      &:hover{
        background: repeating-linear-gradient( -45deg, var(--color-secondary-b-75) 0px, var(--color-secondary-b-75) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
        border: 1px dashed var(--color-secondary-bright);
      }
    } 
  }
  
  /****************
  PF2e HUD support
  ****************/
  #interface #ui-left {
  
    #pf2e-hud-persistent {
      margin: 10px 0 0 0;
  
      div {
        border-radius: 0;
      }
    }
  
    #pf2e-hud-persistent-menu {
      min-width: var(--left-control-item-size);
      padding: 6px 0;
    }
  
  }

  /* STAR TREK */
  #interface #ui-left {
    .scene-control.sta-roller .nested-buttons {
      left: var(--left-control-item-size);
      display: none !important;
    }
    .scene-control.sta-roller.active .nested-buttons {
      display: block !important;
    }
  }
}
