/*
:root{
  --left-control-item-size: 36px;
  --left-control-main-bg: rgba(20, 20, 20, 0.85); 
  --color-secondary-75: rgba(50, 50, 70, 0.75);
  --ui-top-padding: 0px;
}
*/

/* -----------------
  LEFT CONTROLS BAR
----------------- */
body.crlngn-ui{  
  --control-main-bg: rgba(20, 20, 20, 0.85); 
  --color-secondary-75: rgba(50, 50, 70, 0.75);
  --ui-top-padding: 0px;
  --crlngn-top-offset: 0px;
  --icon-font-size: var(--font-size-14);
  --control-size: var(--control-item-size);

  #interface{
    #ui-left{
      --control-size: var(--control-item-size);
      padding: 0;
    }

    #scene-controls{
      gap: 0;

      menu{
        gap: 0;
        
        li:last-child{
          .ui-control {
            border-bottom-right-radius: var(--crlngn-border-radius);
          }
        }
      }
      .ui-control{
        --control-size: var(--control-item-size);
        border-radius: 0;
        border: 1px solid transparent;
        font-size: 0.9em;
      }
      
    }
    #scene-controls-layers {
      .ui-control{
        &[aria-pressed=true]{
          border: 1px solid var(--color-highlights);
        }
      }
    }
    #scene-controls-tools {
      .ui-control{
        --control-bg-color: var(--color-secondary-65);

        &:hover{
          border: 1px solid transparent;
          background: var(--color-secondary-75);
          border: 1px solid var(--color-secondary-bright);
        }
    
        &[aria-pressed=true]{
          background: var(--color-secondary-90);
          border: 1px solid var(--color-secondary-bright-50);
          &:hover{
            border: 1px solid var(--color-secondary-bright);
          }
        }
    
        &.toggle{
          /*background: var(--color-secondary-75);*/
          background: repeating-linear-gradient( -45deg, var(--color-secondary-b-75) 0px, var(--color-secondary-b-75) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
          border: 1px solid var(--color-secondary-50);
    
          &[aria-pressed=true]{
            background: repeating-linear-gradient( -45deg, var(--color-secondary-b-90) 0px, var(--color-secondary-b-90) 1px, var(--color-secondary-90) 2px, var(--color-secondary-90) 3px);
            border: 1px dashed var(--color-secondary-bright);
          }
          &:hover{
            background: repeating-linear-gradient( -45deg, var(--color-secondary-b-90) 0px, var(--color-secondary-b-90) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
            border: 1px solid var(--color-secondary-bright);
          }
        } 

      }
      
    }
  }

  .themed.theme-dark{
    --control-bg-color: var(--color-cool-5-75);

    #scene-controls-tools {
      .ui-control{
        --control-bg-color: var(--color-secondary-75);
      }
    }

  }
  
}
