:root{
  --left-control-item-size: 36px;
  --left-control-main-bg: rgba(20, 20, 20, 0.85); 
  --left-control-secondary-bg: rgba(50, 50, 70, 0.75);
}
/* -----------------
  LEFT CONTROLS BAR
----------------- */
#interface #ui-left{
  padding: 0;

  #scene-controls{
    gap: 0;
    menu#scene-controls-layers,
    menu#scene-controls-tools {
      gap: 0;

      li{
        button{
          border-radius: 0;
        }

        &:last-child {
          button{
            border-bottom-right-radius: 10px;
          }
        }
      }
    }

    menu#scene-controls-tools{
      li{
        button{
          background: var(--color-secondary-b-75);

          &:hover {
            background: var(--color-secondary-b-90);
            border: 1px solid var(--color-secondary-bright);
          }
          
          &:active, &:focus,
          &[aria-pressed=true] {
            background: var(--color-secondary-b-90);
          }
        }
      }
    }
  }
}
