/* -----------------
  LEFT CONTROLS BAR
----------------- */
body.crlngn-ui{  
  --control-main-bg: rgba(20, 20, 20, 0.85); 
  --color-secondary-75: rgba(50, 50, 70, 0.75);
  --ui-top-padding: 0px;
  --crlngn-top-offset: 0px;
  --icon-font-size: var(--font-size-14);
  --control-size: var(--control-item-size);

  #interface{
    #ui-left{
      --control-size: var(--control-item-size);
      padding: 0;
    }

    #scene-controls{
      gap: 0;

      menu{
        gap: 0;
        
        li:last-child{
          .ui-control {
            border-bottom-right-radius: var(--crlngn-border-radius);
          }
        }
      }
      .ui-control{
        --control-size: var(--control-item-size);
        border-radius: 0;
        border: 1px solid transparent;
        font-size: 0.9em;
      }

      &.more-tools{
        menu#scene-controls-layers{
          li:last-child{
            .ui-control {
              border-bottom-right-radius: 0;
            }
          }
        }
        menu#scene-controls-tools{
          li:last-child{
            .ui-control {
              border-bottom-right-radius: var(--crlngn-border-radius);
              border-bottom-left-radius: var(--crlngn-border-radius);
            }
          }
        }
        &.extra-columns{
          menu#scene-controls-layers{
            li:last-child{
              .ui-control {
                border-bottom-right-radius: 0;
              }
            }
          }
          menu#scene-controls-tools{
            li:last-child{
              .ui-control {
                border-bottom-right-radius: var(--crlngn-border-radius);
                border-bottom-left-radius: 0;
              }
            }
          }
        }
      }
      
    }
    #scene-controls-layers {
      overflow: visible;
      z-index: 0;
      li{
        pointer-events: all;
        overflow: visible;
        position: relative;
        &:after{
          content: "";
          position: absolute;
          width: var(--control-item-size);
          height: var(--control-item-size);
          left: var(--control-item-size);
          top: 0;
          z-index: 0;
        }
      }
      .ui-control{
        &[aria-pressed=true]{
          border: 1px solid var(--color-highlights);
        }
      }
    }
    #scene-controls-tools {
      z-index: 1;
      .ui-control{
        --control-bg-color: var(--color-secondary-65);

        &:hover{
          background: var(--color-secondary-75);
          border: 1px solid var(--color-secondary-bright);
        }
    
        &[aria-pressed=true]{
          cursor: pointer;
          background: var(--color-secondary-90);
          border: 1px solid var(--color-secondary-bright-50);
          &:hover{
            border: 1px solid var(--color-secondary-bright);
          }
        }
    
        &.toggle{
          cursor: pointer;
          /*background: var(--color-secondary-75);*/
          background: repeating-linear-gradient( -45deg, var(--color-secondary-b-75) 0px, var(--color-secondary-b-75) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
          border: 1px solid var(--color-secondary-50);
    
          &[aria-pressed=true]{
            background: repeating-linear-gradient( -45deg, var(--color-secondary-b-90) 0px, var(--color-secondary-b-90) 1px, var(--color-secondary-90) 2px, var(--color-secondary-90) 3px);
            border: 1px dashed var(--color-secondary-bright);
          }
          &:hover{
            background: repeating-linear-gradient( -45deg, var(--color-secondary-b-90) 0px, var(--color-secondary-b-90) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
            border: 1px solid var(--color-secondary-bright);
          }
        } 

      }
      
    }

    #ui-left.auto-hide {
      #scene-controls-tools {
        opacity: 0;
      }
      #scene-controls:hover {
        #scene-controls-tools {
          opacity: 1;
        }
      }
    }
  }

  .themed.theme-dark{
    --control-bg-color: var(--color-cool-5-75);

    #scene-controls-tools {
      .ui-control{
        --control-bg-color: var(--color-secondary-75);
      }
    }

  }
  
}
