body.crlngn-ui{
  #interface {

    &.scale-regular{
      --font-size-10: 0.7rem;
      --font-size-11: 0.735rem;
      --font-size-12: 0.8rem;
      --font-size-13: 0.865rem;
      --font-size-14: 0.925rem;
      --font-size-15: 0.94rem;
    }

    &.scale-large{
      --font-size-10: 0.735rem;
      --font-size-11: 0.79rem;
      --font-size-12: 0.87rem;
      --font-size-13: 0.89rem;
      --font-size-14: 0.95rem;
      --font-size-15: 0.975rem;
    }

    #ui-middle {
      z-index: 10;

      &:hover{
        z-index: 11;
      }
    }
    
  }
}