/*
:root{
  --right-control-item-size: 36px;
  --sidebar-tab-height: 48px;
}
*/

body.crlngn-ui{

  /*#interface #ui-right {*/

    .sidebar-tab{
      background: var(--color-dark-bg-90);
      /*backdrop-filter:blur(3px);*/

      .action-buttons button,
      button:not(.token-initiative button, .dice-tray button, .chat-message button, .dice-tray-container button, .icon, .inline-control) {
        /*--button-background-color: var(--color-dark-bg-85);*/
        border: 1px solid var(--color-secondary-25);
        padding: 0.35em 0.35em;
        color: var(--color-light-1);
        border-radius: 2px;
        background: var(--color-secondary-50); 
        display: flex; 
        flex-direction: row; 
        align-items: center; 
        justify-content: center; 
        color: #dcdcdc; 
        font-weight: 600; 
        letter-spacing: 0.03em;
        box-shadow: 0 0 14px inset var(--color-secondary-50); 
        transition: opacity ease-in-out 0.25s; 
        min-height: 2.8em; 
        font-size: var(--font-size-13); 
        line-height: 1.5;
  
        &:hover{
          background: var(--color-secondary-90);
          border: 1px solid var(--color-secondary-90);
          box-shadow: none; 
        }
    
        &:active, &:focus{
          background: var(--color-secondary-25); 
          border: 1px solid var(--color-secondary-75);
        }
  
        &:has(span, label){
          i{
            display: none;
          }
        }

        
      }

      .header-actions.action-buttons button{
        flex: 1 0 auto;
        gap: 4px;
      }
      
    }

    #settings,
    #settings-popout {

      .info {
        display: flex;
        flex-direction: column;
        gap: 0.25em;
        .title {
          font-size: var(--font-size-20);
          flex: 1 1 100%;
        }
        .subtitle {
          margin: 0.15em 0 1em 0;
          flex: 1 1 100%;
        }
      }

      /*
      h1.divider,
      h2.divider,
      h3.divider,
      h4.divider {
        justify-content: flex-start;
        letter-spacing: 0.01em;
      }

      
      h1.divider::before, 
      h2.divider::before, 
      h3.divider::before, 
      h4.divider::before{
        max-width: 0;
        margin-right: 0;
      } */

      h4.divider{
        margin: 0.65em 0 0.35em 0;
        opacity: 0.95;
        font-weight: 600;
      }

      section {
        gap: 0.3rem;

        button{
          i{
            display: none;
          }
        }
        
      }
      button:not(.dice-tray button, .chat-message button, .dice-tray-container button) {
        min-height: 3.4em;
        background: var(--color-secondary-15);
        &:hover{
          background: var(--color-secondary-90);
        }
    
        &:active, &:focus{
          background: var(--color-secondary-25); 
        }
      }
    }

    #sidebar-tabs {
      padding: 0;

      > menu {
        gap: 0;
  
        li{
  
          button.ui-control {
            border-radius: 0;

            &:last-child{
              border-bottom-left-radius: 10px;
            }
          }
        }
      }
    } 

    #sidebar-content #chat{
      width: auto;
    }

    .directory-item {

      header, ol {
        width: 100%;
        position: relative;

        .folder-name{
          font-size: var(--font-size-15);
          font-weight: 600;
          letter-spacing: 0.02em;  
        }
      }

      > * {
        /*position: absolute;*/
        z-index: 2;
      }

      > img{
        z-index:0;
      }

      img.compendium-banner {
        opacity: 0.25;
        filter:saturate(0.25);
      }
      .compendium-footer {
        opacity: 0.4;
        font-size: var(--font-size-11);
        border: 0;
      }

      &:hover {
        img.compendium-banner {
          opacity: 0.75;
          filter:saturate(0.75);
        }

        .compendium-footer {
          opacity: 0.8;
        }

      }
      
      .entry-name{
        font-size: var(--font-size-15);
        font-weight: 600;
        letter-spacing: 0.02em;   
        background: var(--color-dark-bg-25);

        strong{
          font-size: 1em;
          font-weight: 600; 
          letter-spacing: 0.03em;
        }
      }

      &.actor .entry-name {
        font-size: var(--font-size-14);
      }
    }

  .combat-sidebar .combat-tracker .token-initiative button {
    filter: none;
  }
    
  /*}*/

  /* DnD5e */
  .dnd5e2.sidebar-heading ul.links a, 
  .dnd5e2.sidebar-info ul.links a {
    text-decoration: none;
  }

}


