body{
  &.crlngn-ui { 
    --top-nav-height:  calc(var(--left-control-item-size));
    --ui-top-padding: 0px;
    --ui-controls-margin-left: -100px;
  
    &:has(#ui-middle.crlngn-ui){
      --ui-top-padding: var(--top-nav-height);
  
      &:has(#navigation.collapsed):has(#logo.visible){
        --ui-top-padding: calc(72px + var(--top-nav-height));
      }
    }
  }

  #interface{
    --current-sidebar-width: var(--sidebar-width);
  
    &:has(#sidebar.collapsed){
      --current-sidebar-width: var(--right-control-item-size);
    }

    #ui-middle{
      position:relative;
      margin-left: calc(var(--ui-controls-margin-left, 0px));
      width: calc(100% - var(--ui-controls-margin-left, 0px));


      #ui-middle > *{
        margin-top: 0;
        margin-left: var(--macro-bar-left, 0px);
        max-width: calc(100% - var(--ui-controls-margin-left, 0px));
      }
    }
    #ui-top {
      margin-left: -20px;
    }

  }

  #navigation {
    /*position: absolute;*/
    z-index:10;
    &:hover{
      z-index:100;
    }

  }

  #ui-middle.crlngn-ui:not(:has(.monks-scene-navigation)){
    margin-top: 0;

    > *:not(#loading) {
      margin-top: var(--crlngn-top-offset, 0px);
      transition: margin-top 0.15s ease-in-out;
    }
    #loading {
      margin-top: 80px;
    }


    #ui-top, #ui-top.offset{
      position: relative;
      margin: 0;
      margin-left: 0;
      height: 100%;
      max-height: 100%;
      pointer-events: none;

      * {
        pointer-events: all;
      }

      #navigation {
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
        height: 100%;
        max-height: 100%;
        pointer-events: none;
        overflow: hidden;
        /*margin-left: calc((var(--max-players-width) * -1) - var(--ui-controls-margin-left));*/
        margin-left: calc((var(--ui-controls-margin-left, 0px) * -1) - var(--max-players-width, 0px));
        /*width: calc(100% - var(--ui-controls-margin-left) + 10px);
        max-width: calc(100% - var(--ui-controls-margin-left) + 90px);*/
       
        width: calc(100% + var(--ui-controls-margin-left) + var(--max-players-width));
        max-width: calc(100% + var(--ui-controls-margin-left) + var(--max-players-width));
        min-width: calc(100% + var(--ui-controls-margin-left) + var(--max-players-width));

        z-index:101;


        > *{
          position: relative;
        }

        &:before{
          content: '';
          display: block;
          position: absolute; 
          background: rgba(0, 0, 0, 0.75);
          width: 100%;
          height: calc(var(--top-nav-height) + 1px);
          backdrop-filter: blur(3px);
          margin: 0;
          box-shadow: 0 2px 6px rgb(39 62 84 / 40%);
        }

        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 16px;
          pointer-events: all;
        }


        #nav-toggle {
          background: rgba(0, 0, 0, 0.75);
          width: var(--left-control-item-size);
          flex: 0 0 var(--left-control-item-size);
          height: calc(var(--top-nav-height) + 1px);
          text-align: center;
          z-index: 100;
          border: 1px solid transparent;
          border-radius: 0;
          margin: 0;
          box-sizing: border-box;
        }

        button.crlngn-nav.ui-nav-left,
        button.crlngn-nav.ui-nav-right {
          pointer-events: all;
          width: var(--left-control-item-size);
          background: transparent;
          color: var(--color-text-light-1);
          border: none;
          border-radius: 0;
          width: var(--left-control-item-size);
          height: var(--top-nav-height);
          background: rgba(0,0,0,0.8);
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          margin: 0;
          flex: 0 0 var(--left-control-item-size);
          font-size: var(--font-size-12);
          z-index: 101;

          &.crlngn-nav.ui-nav-left{
            right: var(--left-control-item-size);
          }

          &:active,
          &:hover, 
          &:focus {
            box-shadow: none;
          }
        }
        &.collapsed {
          &:before{
            opacity: 0;
            height: 10px;
            pointer-events: all;
          }
          
          button.crlngn-nav{
            visibility: hidden;
          }
        }

      }

      ol#scene-list{
        position: relative;
        display: flex;
        flex-wrap: nowrap;
        align-items: flex-start;
        pointer-events: none;
        flex: 0 0 auto;
        width: auto;
        max-width: max-content;
        height: 100%;
        max-height: 100%;
        transition: margin-left 0.5s ease-in-out;
        gap: 0;

        *{
          pointer-events: all;
        }

        li.nav-item {
          line-height: calc(var(--left-control-item-size) - 1px);
        }

        > li.nav-item:not(.is-root) {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-12);
          margin: 0;
          border: 1px solid transparent;
          border-right: 1px solid #000;
          border-left: 1px solid #000;
          font-weight: 600;
          border-radius: 0;
          background-color: transparent;
          transition: margin-left 0.35s ease-in-out;

          > a{
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: 130px;
            width: 130px;
            color: var(--color-text-light-1);
            opacity: 1;
          }

          &.scene.gm{
            opacity: 0.8;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: repeating-linear-gradient( -45deg, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 1px, rgba(60,60,80,1) 2px, rgba(60,60,80,1) 3px);
              opacity: 0.65; 
              z-index: -1; 
            }
            a{
              opacity: 0.7;
            }
          }

          &.scene.active{
            background: rgba(50, 50, 70, 0.75);
            box-shadow: 0;
            opacity: 1;

            a{
              opacity: 1;
            }
          }

          &:hover{
            > a{
              overflow: auto;
              width: auto;
              text-overflow: auto;
            }
          }
        }

        /* Compact Scene Navigation compatibility */
        > li.nav-item.is-root{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-14);
          margin: 0 -1px 0 0;
          background: rgba(0, 0, 0, 0.75);
        }

        ol.context-items li{
          line-height: 1.4;
          padding: 6px;
          border-bottom: 1px solid #000;
          font-size: var(--font-size-12);
        }
  
        li.scene > ul.scene-players {
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          display: inline-flex;
          right: 0;
          top: auto;
          left: auto;
          height: 100%;
  
          li.scene-player{
            height: calc(100% - 4px);
            width: 4px;
            margin: 2px 0 2px -1px;
            line-height: 1;
            font-size: 0;
            text-align: center;
            color: #000;
            font-weight: 600;
            background: #97dff4;
            border: 1px solid #000;
            border-radius: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
  
        button.crlngn-nav.ui-nav-left,
        button.crlngn-nav.ui-nav-right {
          width: var(--left-control-item-size);
          height: var(--top-nav-height);
          background: rgba(0,0,0,0.8);
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          margin: 0;
          flex: 0 0 var(--left-control-item-size);
          font-size: var(--font-size-12);
  
          &.crlngn-nav.ui-nav-left{
            right: var(--left-control-item-size);
          }
  
          &:active,
          &:hover, 
          &:focus {
            box-shadow: none;
          }
        }
      }
    }
  }

  &.hide-player-ui-sceneList{
    #ui-middle.crlngn-ui:not(:has(.monks-scene-navigation)) #ui-top.offset{
      #navigation:before{
        display: none;
      }
    }
    
  }
  
}