body.crlngn-ui { 
  --top-nav-height:  var(--left-control-item-size);
  --ui-controls-margin-left: -100px;
  --folder-header-width: 150px;
  --folder-list-width: 195px;
  --scene-nav-item-width: calc(var(--font-size-10) * 15);
  --folder-nav-item-width: var(--left-control-item-size);
  --current-sidebar-width: var(--left-control-item-size);
  --scene-list-left: calc(var(--left-control-item-size) * 3);

  &.logo-visible.nav-collapsed {
    --ui-top-padding: calc(72px + var(--top-nav-height,0px));
  }

  &.sidebar-expanded{
    --current-sidebar-width: var(--sidebar-width);
  }

  #interface{
    #ui-middle{
      position:relative;
      margin-left: calc(var(--ui-controls-margin-left, 0px));
      width: calc(100% - var(--ui-controls-margin-left, 0px));

      #ui-middle > *{
        margin-top: 0;
        margin-left: var(--macro-bar-left, 0px);
        max-width: calc(100% - var(--ui-controls-margin-left, 0px));
      }
    }

    #ui-top {
      margin-left: calc(var(--left-control-item-size) - 20px);
    }

  }

  &.crlngn-scene-nav #navigation {
    /*position: absolute;*/
    z-index:10;
    border-radius: 0;
    &:hover{
      z-index:100;
    }

    .ellipsis {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
      
  }

  &.crlngn-scene-nav #ui-middle.crlngn-ui{
    margin-top: 0;

    > *:not(#loading, #ui-top, #ui-bottom) {
      margin-top: var(--crlngn-top-offset, 0px);
      transition: margin-top 0.15s ease-in-out;
    }
    #loading {
      margin-top: 80px;
    }


    #ui-top, #ui-top.offset{
      margin-left: 0;
      /*
      position: relative;
      margin: 0;
      margin-left: 0;
      height: 100%;
      max-height: 100%;
      pointer-events: none;
      */

      /*
      > * {
        pointer-events: all;
      }*/

      #crlngn-extra-btns {
        position: fixed;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: auto;
        flex-wrap: nowrap;
        left: calc(var(--left-control-item-size) * 1);
        top: 0;
        z-index: 101;
      }

      #crlngn-back-button {
        background: rgba(0, 0, 0, 0.75);
        width: var(--left-control-item-size);
        flex: 0 0 var(--left-control-item-size);
        height: calc(var(--top-nav-height, 0) + 1px);
        text-align: center;
        z-index: 100;
        border: 1px solid transparent;
        border-radius: 0;
        margin: 0;
        box-sizing: border-box;
        cursor: pointer;
        pointer-events: all;
        position: relative;
        i {
          display: inline-flex;
          align-items: center;
          height: 100%;
          color: var(--color-text-light-1);
        }
      } 

      #crlngn-scene-lookup{
        display: flex;
        flex-direction: row;
        width: var(--left-control-item-size);
        max-width: var(--left-control-item-size);
        flex: 0 0 var(--left-control-item-size);
        height: var(--left-control-item-size);
        overflow: visible;
        font-size: var(--font-size-13);
        scrollbar-width: thin;
        z-index: 101;

        .scene-lookup-toggle{
          min-width: var(--left-control-item-size);
          max-width: max-content;
          flex: 0 0 auto;
          height: calc(var(--left-control-item-size) + 1px);
          border: 1px solid var(--left-control-main-bg);
          border-radius: 0;
          font-size: var(--font-size-14);
          padding: 0;
          background: var(--left-control-main-bg);
          color: var(--color-text-light-1);
          margin: 0;
          position: relative;

          > * {
            pointer-events: none;
          }

          &:hover{
            background-color: var(--color-secondary);
            z-index: 1000;
          }

          i.fa-magnifying-glass {
            display: flex;
            height: 100%;
            align-items: center;
            justify-content: center;
            flex: 0 0 var(--left-control-item-size);
            margin: 0;
            padding: 0;
            width: 100%;
          }
        }
        display:flex;
        flex-direction: column;

        &.open{
          #crlngn-lookup-list{
            display: flex;
          }
        }

        #crlngn-lookup-list{
          --scene-folders-width: calc(var(--folder-list-width) + 10px);
          padding: 0;
          width: calc(var(--scene-folders-width) + 0px);
          background-color: var(--left-control-main-bg);
          scrollbar-width: thin;
          display: none;

          .scene-folders-contents{
            background-color: var(--left-control-main-bg);
            border-left: 1px solid var(--color-dark-1);
            width: var(--scene-folders-width);
            max-width: var(--scene-folders-width);
            max-height: calc(max(200px,60vh) - 40px);
            flex-direction: column;
            justify-content: flex-start;
            scrollbar-width: thin;
            overflow: auto;
    
            .search-container {
              --color-text-selection-bg: var(--color-cool-4);
    
              .back-to-favorites {
                padding: 0 8px;
              }
    
              .input-scene-search {
                border: 1px solid var(--color-dark-1);
                color: var(--color-light-3);
                background-color: var(--color-input-bg);
                font-size: var(--font-size-12);
                padding: 8px;
                margin: 8px;
                width: calc(100% - 20px);
                /*text-align: center;*/
    
                &:focus, &:hover{
                  border: 1px solid var(--color-highlights);
                }
              }
    
              p.subtitle{
                margin: 8px;
                font-weight: 300;
                padding: 8px 0 0 0;
                line-height: var(--font-size-18);
                border-top: 1px solid var(--color-dark-1);
              }
            }
    
            ol.folder-list {
              padding-bottom: 40px;
            }
    
            ol.folder-list,
            ol.search-results {
              list-style: none;
              margin: 0;
              padding: 0;
              flex-direction: column;
              overflow: visible;
              display: flex;
              padding: 0;
              width: var(--folder-list-width);
              max-width: var(--folder-list-width);
    
              .no-results{
                padding: 0 8px;
              }
      
              li{
                justify-content: center;
                display: flex;
                flex-direction: column;
                width: var(--folder-list-width);
                max-width: var(--folder-list-width);
                min-height: var(--left-control-item-size);
                height: auto;
                padding: 4px 8px;
                border-top: 1px solid var(--color-cool-5-50);
    
                &.scene{
                  font-weight: 300;
                  background-color: var(--left-control-main-bg);
                  a{
                    font-weight: 300;
                  }
                }
                &.active{
                  background: var(--striped-bg);
                }
                &:hover{
                  background: var(--color-highlights-50);
                }
      
                a{
                  position: relative;
                  display: flex;
                  align-items: baseline;
                  color: var(--color-text-light);
                  opacity: 1;
                  max-width: 100%;
                  width: 100%;
                  padding-right: 16px;
                  line-height: 1.4;
      
                  > i {
                    margin-right: 6px;
                    font-size: var(--font-size-10);
                  }
      
                  span.toggle{
                    display: flex;
                    align-items: center;
                    position: absolute;
                    font-size: var(--font-size-14);
                    height: 100%;
                    width: 22px;
                    right: 0;
                    top: 0;
                    padding: 2px;
                    justify-content: center;
      
                    &:hover{
                      background: var(--color-highlights-25);
                    }
                  }
                }
              }
              ol.subfolders {
                margin: 0 0 0 8px;
                padding: 0;
                border-left: 1px solid var(--color-secondary);
                list-style: none;
                display: flex;
                flex-direction: column;
                text-align: left;
                width: calc(100% - 8px);
                flex: 0 0 calc(100% - 8px);
                max-height: 0;
                overflow: hidden;
      
                &.open { 
                  max-height: initial;
                }
      
                li{
                  align-items: flex-start;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  max-width: 100%;
                  min-height: var(--left-control-item-size);
                  width: auto;
                  /*border-left: 1px solid var(--color-secondary);*/
                  text-align: left;
                  background: var(--color-cool-5-25);
                }
      
              }
            }
          }
        }
        
      }

      #navigation {
        --nav-width: calc(100% + var(--ui-controls-margin-left, 0px) + var(--max-players-width, 0px));
        --nav-margin-left: calc((var(--ui-controls-margin-left, 0px) * -1) - var(--max-players-width, 0px));
        position: absolute;
        top: 0;
        left: 0;
        margin-top: 0;
        display: flex;
        flex-wrap: nowrap;
        height: max-content;
        max-height: 60vh;
        min-height: max(200px, 60vh);
        pointer-events: none;
        margin-left: var(--nav-margin-left);
        width: var(--nav-width);
        max-width: var(--nav-width);
        min-width: var(--nav-width); /* needed for Forien's Quest Log */
        z-index:101;

        /* hide scrollbar */
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
          display: none;
        }

        > *{
          pointer-events: all;
        }

        *{
          box-sizing: border-box;
        }

        &:before{
          content: '';
          display: block;
          position: fixed; 
          background: rgba(0, 0, 0, 0.75);
          width: 100vw;
          height: var(--top-nav-height, 0px);
          padding: 0 0 1px 0;
          margin: 0;
          top: 0;
          left: 0;
        }

        .debug-block{
          display: block;
          position: absolute;
          top: 0;
          left: 0;
          width: 50vw;
          height: 100px;
          z-index: 101;
        }

        /*
        > *{
          position: relative;
        }
          */

        

        &:after{
          content: '';
          display: block;
          position: absolute;
          width: 100%;
          height: 14px;
          pointer-events: all;
          z-index: 0;
        }

        #nav-toggle {
          background: rgba(0, 0, 0, 0.75);
          width: var(--left-control-item-size);
          flex: 0 0 var(--left-control-item-size);
          height: calc(var(--top-nav-height, 0) + 1px);
          text-align: center;
          z-index: 100;
          border: 1px solid transparent;
          border-radius: 0;
          margin: 0;
          position: fixed;

          i {
            display: inline-flex;
            align-items: center;
            height: 100%;
          }
        }
        button.crlngn-btn.ui-nav-left,
        button.crlngn-btn.ui-nav-right {
          pointer-events: all;
          color: var(--color-text-light-1);
          border: none;
          border-radius: 0;
          width: var(--left-control-item-size);
          height: var(--top-nav-height, 0px);
          background: rgba(0,0,0,0.8);
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: fixed;
          right: var(--current-sidebar-width);
          margin: 0;
          flex: 0 0 var(--left-control-item-size);
          font-size: var(--font-size-12);
          z-index: 101;

          &.crlngn-btn.ui-nav-left{
            right: calc(var(--current-sidebar-width) + var(--left-control-item-size));
          }

          &:active,
          &:hover, 
          &:focus {
            box-shadow: none;
          }
        }
        &.collapsed {
          #crlngn-scene-lookup {
            opacity: 0.2;

            &:hover {
              opacity: 1;
            }
          }
          &:before{
            opacity: 0;
            height: 10px;
            pointer-events: all;
          }
          
          button.crlngn-btn{
            visibility: hidden;
          }

          ol#crlngn-scene-list,
          #crlngn-scene-folders,
          #scene-list {
            display: none !important;
          }
          #crlngn-folder-toggle, 
          #crlngn-back-button {
            display: none;
          }
          #crlngn-lookup-list{
            margin-top: calc(var(--left-control-item-size) * -1);
            margin-left: var(--left-control-item-size);
          }
        }

        #crlngn-folder-toggle {
          flex: 0 0 var(--left-control-item-size);
          width: var(--left-control-item-size);
          height: var(--left-control-item-size);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-14);
          background-color: var(--color-secondary);
          border: 1px solid var(--left-control-main-bg);
          margin-left: var(--scene-list-left);
          z-index: 10;
          cursor: pointer;

          &:hover{
            background-color: var(--left-control-main-bg);
          }

          i.icon:before{
            content: '\f65e';
          }
        }
        &.with-folders{
          #crlngn-folder-toggle i.icon:before{
            content: '\f65d';
          }
        }

        #folders-group {
          list-style: none;
          padding: 0;
          margin: 0;
          display: flex;
          flex-direction: row;

          ol, ul, menu {
            list-style: none;
            padding: 0;
            margin: 0;
          }

        }
  
        #folders-group {
          margin: 0;
          padding: 0;

          .scene{
            /*z-index: 101;*/
            &.view.crlngn:after{
              content: '\f521';
            }
            &.active.crlngn:after{
              content: '\f140';
            }
            &.active.view.crlngn:after{
              content: '\f521   \f140';
            }
          }
          .crlngn-folder{
            background: var( --striped-bg);
            align-items: center;
            display: grid;
            grid-template-columns: minmax(var(--scene-nav-item-width), max-content);
            cursor: pointer;
            position: relative;
            padding: 0;
            border-radius: 0;
            margin: 0;
            width: max-content;
            min-width: var(--scene-nav-item-width);
            max-width: var(--scene-nav-item-width);
            height: calc(var(--left-control-item-size) - 2px);
            font-size: var(--font-size-12);
            pointer-events: all;
            transition: width 0.2s ease-out, max-width 0.2s ease-out;
            border: 1px solid transparent;
            border-right: 1px solid var(--left-control-main-bg);
            border-left: 1px solid var(--left-control-main-bg);
            z-index: 10;
  
            .folder-item{
              width: var(--scene-nav-item-width);
              min-width: var(--scene-nav-item-width);
              max-width: var(--scene-nav-item-width);
              height: calc(var(--left-control-item-size) - 0px);
              display: flex;
              align-items: center;
              padding: 6px 10px;
              overflow: hidden;
              text-overflow: ellipsis;
              pointer-events: all;
              border: 1px solid var(--left-control-main-bg);
              margin-top: -1px;
              transition: width 0.2s ease-out, max-width 0.2s ease-out;
              white-space: nowrap;
              background-color: var(--color-secondary);
            }
            
            .folder-item > i.fa-solid:before {
              content: '\f07b';
              font-size: var(--font-size-10);
              margin-right: 5px;
            }
            .folder-name{
              display: block;
              line-height: var(--font-size-24);
              overflow: hidden;
              text-overflow: ellipsis;
              width: 100%;
            }
            
            &:hover{
              z-index: 101;
            }
            
            .folder-item:hover {
              width: max-content;
              min-width: var(--scene-nav-item-width);
              max-width: max-content;
              background-color: var(--color-secondary-50);
              background: var(--striped-bg);
              position: relative;
              z-index: 101;
            }
  
            .contents{
              display: none;
              width: max-content;
              height: var(--left-control-item-size);
              background: var(--left-control-main-bg);
              position: relative;
              flex-direction: row;
              z-index: 0;

              &:hover {
                z-index: 1000;
              }
            }
  
            &.crlngn-folder-active{
              background-color: var(--left-control-main-bg);
              z-index: 11;
  
              > .folder-item{
                border: 1px solid var(--color-secondary-b);
                border-top: 1px solid var(--left-control-main-bg);
                background: var(--color-secondary);
                width: max-content;
                z-index: 100;
  
  
                i.fa-solid:before {
                  content: '\f07c';
                }
              }
              
              > .contents{
                display: flex;
                flex-direction: row;
              }
            }
            
          }
        }
      }


      ol#scene-list,
      ol#crlngn-scene-list {
        position: relative;
        display: flex !important;
        flex-wrap: nowrap;
        align-items: flex-start;
        pointer-events: none;
        flex: 0 0 auto;
        width: auto;
        max-width: 100%;
        height: auto;
        max-height: 100%;
        gap: 0;
        padding: 0;
        margin: 0;
        transition: margin-left 0.5s ease-in-out;
        z-index: 1;
        /* hide scrollbar 
        overflow: scroll;
        -ms-overflow-style: none;
        scrollbar-width: none;
        ::-webkit-scrollbar {
          display: none;
        }*/

        .sortable-ghost {
          opacity: 0.5;
        }

        .sortable-drag {
          opacity: 0.9;
          transition: none;
          &:hover {
            width: var(--scene-nav-item-width) !important;
            min-width: var(--scene-nav-item-width) !important;
            overflow: hidden;
          }
        }

        &.hidden{
          display: none;
          max-width: 0;
          max-height: 0;
          overflow: hidden;
        }
        
        &.no-transition{
          transition: margin-left 0s;
        }

        *{
          pointer-events: all;
          /* hide scrollbar */
          -ms-overflow-style: none;
          scrollbar-width: none;
          ::-webkit-scrollbar {
            display: none;
          }
        }
  
        button.crlngn-btn.ui-nav-left,
        button.crlngn-btn.ui-nav-right {
          width: var(--left-control-item-size);
          height: var(--top-nav-height,0px);
          background: rgba(0,0,0,0.8);
          box-shadow: none;
          display: flex;
          align-items: center;
          justify-content: center;
          position: absolute;
          right: 0;
          margin: 0;
          flex: 0 0 var(--left-control-item-size);
          font-size: var(--font-size-12);
  
          &.crlngn-btn.ui-nav-left{
            right: var(--left-control-item-size);
          }
  
          &:active,
          &:hover, 
          &:focus {
            box-shadow: none;
          }
        }
      }

      &.arrow-turn-left {
        transform: scale(0.9);
        &:hover{
          color: var(--color-text-hyperlink);
        }
      }

      /*
      ol#crlngn-scene-list {
        > li.nav-item {
          position: relative;
          > a {
            min-width: var(--folder-list-width);
            width: var(--folder-list-width);
          }
        }

        > li:is(.nav-item):nth-child(2) {
          margin-left: var(--scene-nav-item-width);
        }
        
      }*/

      ol#scene-list{
        > li:last-child:after{
          content: "";
          margin-right: 80px;
        }
      }

      ol#scene-list,
      ol#folders-group{

        li.nav-item {
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-12);
          margin: 0;
          border: 1px solid transparent;
          border-right: 1px solid #000;
          border-left: 1px solid #000;
          font-weight: 600;
          border-radius: 0;
          margin: 0;
          padding: 0;
          line-height: var(--left-control-item-size);
          max-height: var(--left-control-item-size);
          background-color: var(--left-control-main-bg);
          z-index: 0;

          -ms-overflow-style: none;
          scrollbar-width: none;
          ::-webkit-scrollbar {
            display: none;
          }

          &:hover{
            z-index: 101;
          }

          &.crlngn-group{
            width: auto;
            max-width: max-content;
            padding: 0;
            max-height: 100vh;
            z-index: 0;
          }

          &.crlngn-icons{
            > a:before{
              content: '\f06e';
              margin-right: 3px;
              margin-left: -1px;
              font-family: var(--font-awesome);
              font-size: var(--font-size-10);
              display: inline-flex;
              transform: scale(0.9);
            }
            &.gm > a:before, &.view > a:before, &.active > a:before, &.active.view > a:before{
              margin-right: 2px;
              margin-left: 0;
            }
            &.gm > a:before{
              content: '\f070';
            }
            &.view > a:before{
              content: '\f521';
            }
            &.active > a:before{
              content: '\f140';
            }
            &.active.view > a:before{
              content: '\f521   \f140';
            }
            > a i{ display: none;}
          }

          > a{
            --nav-width: calc(var(--scene-nav-item-width) - 2px);
            display: block;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            min-width: var(--nav-width);
            max-width: var(--nav-width);
            width: var(--nav-width);
            color: var(--color-text-light-1);
            opacity: 1;
            transition: max-width 0.35s ease-out 0.25s;
            padding: 0 8px;

            i{
              font-size: var(--font-size-10);
              /*
              visibility: hidden;
              display: none;
              */

              &.fa-folder {
                margin-right: 2px;
                visibility: visible;
                display: inline-flex;
              }
            }

            i.hidden{
              display: none;
            }
          }

          &.folder{
            > a{
              span.name{
                display: inline-flex;
                height: 100%;
              }
            }

            &:hover{
              z-index: 100;
            }
          }

          &.scene.gm{
            opacity: 1;

            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background: repeating-linear-gradient( -45deg, rgba(0,0,0,0) 0px, rgba(0,0,0,0) 1px, rgba(60,60,80,1) 2px, rgba(60,60,80,1) 3px);
              opacity: 0.65; 
              z-index: -1; 
            }
            a{
              opacity: 0.7;
            }
          }

          &.scene.active{
            background: var(--color-secondary-75);
            opacity: 1;
            box-shadow: none;

            a{
              opacity: 1;
            }
          }
          &.scene.view{
            box-shadow: none;
          }

          &:not(.no-hover):hover{
            z-index: 100;
            > a{
              overflow: auto;
              width: auto;
              max-width: 400px;
              transition: max-width 0.35s ease-out 0.25s;
            }
          }

          /* Disable hover effects during drag operations */
          &.no-hover:hover {
            > a {
              overflow: hidden;
              width: var(--scene-nav-item-width) !important;
              max-width: var(--scene-nav-item-width) !important;
            }
          }
          
        }
        

        /* Compact Scene Navigation compatibility */
        > li.nav-item.is-root{
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          font-size: var(--font-size-14);
          margin: 0;
          background: rgba(0, 0, 0, 0.75);
          border-bottom: 0;
          border-top: 0;
          width: auto;

          a.scene-name {
            width: auto;
            min-width: 10px;
            /* hide scrollbar */
            -ms-overflow-style: none;
            scrollbar-width: none;
            ::-webkit-scrollbar {
              display: none;
            }
          }
        }

        ol.context-items li{
          line-height: 1.4;
          padding: 6px;
          border-bottom: 1px solid #000;
          font-size: var(--font-size-12);
        }

        li.scene > .scene-preview {
          display: flex;
          width: var(--folder-header-width);
          height: 80px;
          background-color: var(--color-dark-bg-50);
          background-size: cover;
          background-position: center;
          position: absolute;
          border: 5px solid var(--color-dark-bg-75);
          top: var(--left-control-item-size);
          margin-top: -1px;
          left: 0;
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.5);
          visibility: hidden;
          opacity: 0;
          transition: opacity 0s ease-out 0s, visibility 0s linear 0.3s;

          > .icons {
            display: flex;
            width: 100%;
            height: 100%;
            flex-direction: row;
            justify-content: flex-start;
            align-items: flex-end;
            padding: 0px;
            gap: 0px;

            > i {
              width: 20px;
              height: 20px;
              border-radius: 0px;
              border: 0;
              background-color: var(--color-dark-bg-75);
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 0.75em;
              transform: scale(1);
              opacity: 0.85;
              margin: 0;
              cursor: pointer;

              &:hover{
                background-color: var(--color-highlights-75);
                opacity: 1;
              }
            }
          } 
        }

        li.scene:hover > .scene-preview {
          visibility: visible;
          opacity: 1;
          transition: opacity 0s ease-out 0s, visibility 0s linear 0.3s;
        }
  
        li.scene > ul.scene-players {
          height: 8px;
          width: calc(100% - 20px);
          list-style: none;
          margin: 0;
          padding: 0;
          position: absolute;
          left: 10px;
          right: auto;
          top: auto;
          bottom: -1px;
          display: flex;
          align-items: flex-end;
          justify-items: stretch;

          li.scene-player{
            height: 4px;
            flex: 1 1 100%;
            width: 100%;
            max-width: 20px;
            margin: 0 0 0 -1px;
            line-height: 1;
            font-size: 0;
            text-align: center;
            color: #000;
            font-weight: 600;
            background: #97dff4;
            border: 1px solid #000;
            border-radius: 0;
            display: inline-flex;
            align-items: center;
            justify-content: center;
          }
        }
      }
      
    }
  }
  &.crlngn-scene-nav.crlngn-no-folders{
    #ui-middle.crlngn-ui #ui-top ol#scene-list{
      margin-left: var(--scene-list-left);
    }
  }

  &.crlngn-scene-nav.hide-player-ui-sceneList{
    #ui-middle.crlngn-ui #ui-top.offset{
      #navigation{
        &:before{
          display: none;
        }
        #crlngn-scene-list, #crlngn-scene-folders{
          display: none;
          visibility: hidden;
        }
      }
    }
    
  }


  /* Scene folders 
  &.crlngn-scene-nav #ui-middle.crlngn-ui {
    #crlngn-scene-folders{
      --nav-header-width: calc(var(--folder-header-width) + 16px);
      display: flex;
      flex: 0 0 auto;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      font-size: var(--font-size-12);
      margin: 0;
      border: none;
      border-radius: 0;
      font-weight: 600;
      padding: 0;
      overflow:visible;
      width: var(--nav-header-width);
      max-width: var(--nav-header-width);
      min-width: max-content;
      line-height: var(--left-control-item-size);
      pointer-events: all;
      height: var(--left-control-item-size);
      max-height: var(--left-control-item-size);
      gap: 0;
      padding: 0;
      margin: 0;
      visibility: visible;
      position: relative;

      &.collapsed-folder-name{
        width: auto;
      }

      > a {
        min-width: var(--folder-list-width);
        width: var(--folder-list-width);
      }

      a.selected{
        position: relative;
        display: block;
        align-items: center;
        width: calc(var(--folder-header-width) + 16px);
        min-width: calc(var(--folder-header-width) + 16px);
        max-height: var(--left-control-item-size);
        gap: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        padding: 0 16px 0 8px;
        margin: 0;
        height: var(--left-control-item-size);
        background: var(--color-dark-bg-90);
        z-index: 100;

        &:hover{
          overflow: hidden;
          width: auto;
          text-overflow: auto;
        }

        > * {
          vertical-align: middle;
        }

        i {
          margin-right: 8px;
          font-size: var(--font-size-10);
          flex-shrink: 0;
          max-width: 12px;
          text-align: center;
          overflow: hidden;

          &.fa-turn-left{
            min-width: 22px;
            min-height: 22px;
            line-height: 24px;
            font-size: var(--font-size-12);
          }

          &.fa-folder-tree {
            transform: scale(1.1);
            margin-right: 5px;
            padding-bottom: 1px;
            display: inline-flex;
            line-height: 24px;
            max-height: var(--left-control-item-size);
            overflow: hidden;
          }
          &.arrow-turn-left {
            transform: scale(0.9);
          }

          &.fa-folder{
            margin: 0 0 0 0;
            max-width: 2em;
            overflow: hidden;
            font-size: var(--font-size-10);

            &:after{
              content: '\0276F';
              font-size: var(--font-size-10);
              display: inline-flex;
              margin: 0 0 0 5px;
            }
          }
        }

        .folder-name {
          flex-grow: 1;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        &:after{
          content: '\0276F';
          font-size: var(--font-size-10);
          display: flex;
          position: absolute;
          height: var(--left-control-item-size);
          width: 16px;
          right: 0;
          top: 0;
          justify-content: center;
          transform: rotate(0deg);
          transition: transform 0.2s ease-out;
          line-height: calc(var(--left-control-item-size) + 2px);
          overflow: hidden;
        }

        > i {
          margin-right: 3px;
          font-size: var(--font-size-10);
        }
      }

      &:hover a.selected {
        max-height: initial;
      }
      &.collapsed-folder-name a.selected {
        width: var(--left-control-item-size);
      }

      .scene-folders-contents{
        --scene-folders-width: calc(var(--folder-list-width) + 10px);
        background-color: var(--left-control-main-bg);
        border-left: 1px solid var(--color-dark-1);
        width: var(--scene-folders-width);
        max-width: var(--scene-folders-width);;
        max-height: calc(max(200px,60vh) - 40px);
        display: none;
        flex-direction: column;
        justify-content: flex-start;
        scrollbar-width: thin;
        scrollbar-color: var(--color-highlights-75) var(--color-scrollbar-track);
        overflow: auto;
        position: absolute;
        margin-top: var(--left-control-item-size);

        .search-container {
          --color-text-selection-bg: var(--color-cool-4);

          .back-to-favorites {
            padding: 0 8px;
          }

          .input-scene-search {
            border: 1px solid var(--color-dark-1);
            color: var(--color-light-3);
            background-color: var(--color-input-bg);
            font-size: var(--font-size-12);
            padding: 8px;
            margin: 8px;
            width: calc(100% - 26px);

            &:focus, &:hover{
              border: 1px solid var(--color-highlights);
            }
          }

          p.subtitle{
            margin: 8px;
            font-weight: 300;
            padding: 8px 0 0 0;
            line-height: var(--font-size-18);
            border-top: 1px solid var(--color-dark-1);
          }
        }

        ol.folder-list {
          padding-bottom: 40px;
        }

        ol.folder-list,
        ol.search-results {
          list-style: none;
          margin: 0;
          padding: 0;
          flex-direction: column;
          overflow: visible;
          display: flex;
          padding: 0;
          width: var(--folder-list-width);
          max-width: var(--folder-list-width);

          .no-results{
            padding: 0 8px;
          }
  
          li{
            justify-content: center;
            display: flex;
            flex-direction: column;
            width: var(--folder-list-width);
            max-width: var(--folder-list-width);
            min-height: var(--left-control-item-size);
            border-top: 1px solid var(--color-cool-5-50);

            &.scene{
              font-weight: 300;
              background-color: var(--color-dark-bg-50);
              a{
                font-weight: 300;
              }
            }
            &.active{
              background: repeating-linear-gradient( -45deg, var(--color-secondary-b-75) 0px, var(--color-secondary-b-75) 1px, var(--color-secondary-75) 2px, var(--color-secondary-75) 3px);
            }
  
            a{
              position: relative;
              display: flex;
              align-items: baseline;
              color: var(--color-text-light-1);
              opacity: 1;
              max-width: 100%;
              width: 100%;
              padding: 8px 8px;
              padding-right: 16px;
              line-height: 1.4;
              &:hover{
                background: var(--color-highlights-50);
              }
  
              > i {
                margin-right: 4px;
                font-size: var(--font-size-10);
              }
  
              span.toggle{
                display: flex;
                align-items: center;
                position: absolute;
                font-size: var(--font-size-14);
                height: 100%;
                width: 22px;
                right: 0;
                top: 0;
                padding: 2px;
                justify-content: center;
  
                &:hover{
                  background: var(--color-highlights-25);
                }
              }
            }
          }
          ol.subfolders {
            margin: 0 0 0 8px;
            padding: 0;
            border-left: 1px solid var(--color-secondary);
            list-style: none;
            display: flex;
            flex-direction: column;
            text-align: left;
            width: calc(100% - 8px);
            flex: 0 0 calc(100% - 8px);
            max-height: 0;
            overflow: hidden;
  
            &.open { 
              max-height: initial;
            }
  
            li{
              align-items: flex-start;
              display: flex;
              flex-direction: column;
              justify-content: center;
              max-width: 100%;
              min-height: var(--left-control-item-size);
              width: auto;
              text-align: left;
              background: var(--color-cool-5-25);
            }
  
          }
        }
      }

      &.favorites {
        --fav-max-width: calc(var(--folder-header-width) + 16px);
        --fav-min-width: calc(var(--left-control-item-size) + 6px);
        width: var(--left-control-item-size);
        max-width: calc(var(--folder-header-width) + 16px);
        > a.selected {
          width: auto;
          min-width: var(--fav-min-width);
          max-width: var(--fav-max-width);
          text-overflow: ellipsis;
        }

        &:hover {
          max-width: max-content;

          a.selected{
            overflow: hidden;
            width: auto;
            text-overflow: initial;
            max-width: max-content;
          }
        }
      }

      &.open {
        > a.selected:after {
          transform: rotate(90deg);
        }
        .scene-folders-contents{
          display: flex;
        }
      }
    }

  }*/
  
}